<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">
  <title>深圳大学计算机与软件学院</title>
  <link rel="stylesheet" href="../../stylesheets/css/common.css">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/css/organization_css/organization.css" />
  <script src="../../javascripts/js/jquery.min.js"></script>
</head>
<body class="organization">
<%if(L=='1'){%>
	<%include ../pages_header_cn.ejs%>
<%}%>
<%if(L!='1'){%>
	<%include ../../headcom.ejs%>
<%}%>

  <div class="banner">
    <img src="../../image/organization_image/banner.png" class="b_bg lazy_img pimg" />
    <img src="../../image/organization_image/m-banner.png" class="b_bg lazy_img mimg" />
  </div>
  <!-- 详情 -->
  <!-- <div class="contain">
    <div class="contain-area-2">
      <div class="details-back">
        <span class="icon"></span>
        <span>返回上一页</span>
      </div>
      <div class="details-content">
        <div class="tit">计算机科学与技术系</div>
        <div>内容</div>
      </div>
    </div>
  </div> -->
  <!-- 列表 -->
  <div class="contain">
    <div class="contain-area clearfix">
      <div class="l area-nav">
        <div class="tit b">机构设置</div>
        <ul>
          <li >
            <a href="index">研究所/中心</a>
          </li>
          <li class="active"><a href="javascript:;">教学系</a></li>
          <!-- 2222 -->
          <li><a href="executive">行政办公室</a></li>
          <li><a href="http://csse.szu.edu.cn/cpct" target="_blank">实验中心</a></li>
          <li><a href="periodical">期刊编辑部</a></li>
          <li><a href="https://bdsc.szu.edu.cn" target="_blank">国家工程实验室</a></li>
        </ul>
      </div>
      <div class="area-cont area1">
        <div class="area-tit b c_cca84d">
          教学系
        </div>
        <div class="items-list">
          <%data.forEach(function(item,index){%>
            <div class="item">
              <div class="cover">
                <img class="img lazy_img" src="<%=item.fujianPath%>" />
                <span class="img-txt b"><%=item.title%></span>
              </div>
              <ul>
                <li>系主任：<%=item.zhur%></li>
                <li>
                  <div class="tit">副系主任：<%=item.fuzhur%></div>
                </li>
                 <li>
                  <p>专业：<%=item.jxxzhuanye%></p>
                  <div class="hidden">
                    <div class="text">特色班：<%=item.jxxteseban%></div>
                  </div>
                </li> 
                <li>
                  <a class="txt-more" href="jxxdetails?id=<%=item.id%>">
                    更多<img class="more_img" src="../../image/index/right.png" />
                  </a>
                </li>
              </ul>
            </div>
          <%})%>
        </div>
      </div>
    </div>
  </div>
  <!-- <div id="footer"></div> -->
	<%if(L=='1'){%>
		<%include ../../footercom.ejs%>
	<%}%>
	<%if(L!='1'){%>
		<%include ../../footercom.ejs%>
	<%}%>
  <script src="../../javascripts/js/jquery.min.js"></script>
<script src="../../javascripts/js/jquery.lazyload.min.js"></script>
<script src="../../javascripts/js/common.js"></script>

<script src="../../javascripts/js/brcheck.js"></script>
<script>
  $(document).ready(function () {
    $('.<%=check_nav%>').addClass('active')
  })
</script>
</body>
</html>
