<%if(L=='1'){%>
  <%include content_header.ejs%>
<%}%>
<%if(L!='1'){%>
  <%include content_header_en.ejs%>
<%}%>
<!-- 信息发布栏目下的相应类别的列表 -->
<div class="wp-wrapper wp-banner listl content_wrapper" frag="面板21">
  <div class="wp-inner" frag="窗口21" portletmode="simpleColumnAttri">   
      <div class="banner"><img border='0' src='images/banner3.jpg'  /></div>
  </div>
</div>
<!-- 放类别 -->
<!-- 主体 -->
<div class="wp-wrapper wp-container">
  <div class="wp-inner clearfix">
    <!-- 左侧菜单---引入信息发布菜单 -->
    <%if(L=='1'){%>
    <%include aside_info.ejs%>
    <%}%>
    <%if(L!='1'){%>
    <%include aside_info_en.ejs%>
    <%}%>
    <div class="wp-column-news">
      <div class="column-news-box">
        <div class="list-head" frag="面板8">
          <div class="list-meta clearfix" frag="窗口8" portletmode="simpleColumnAttri">
              <h2 class="column-title info_class"></h2>
              <div class="column-path">
                <span class="path-name">当前位置：</span>
                <a href="/csse" target="_self">首页</a>
                <span class="possplit">&nbsp;&nbsp;</span>
                <a href="/path=179-182-" target="_self">信息发布</a>
              </div>
            
          </div>
        </div>
        <div class="column-news-con" frag="面板9">
          <div class="column-news-list clearfix" frag="窗口9" portletmode="simpleList">
            <%if(isList==1){%>
              <div class="infobox">
                <div class="article" frag="窗口3" portletmode="simpleArticleAttri">
                  <div frag="窗口内容">
                    <h1 class="arti_title"><%if(L=='1'){%><%=data[0].title%><%}else{%><%=data[0].titleEN%><%}%></h1>
                    <h2 class="arti_title"></h2>
                    <p class="arti_metas"><span class="arti_publisher"></span><span class="arti_update"><%if(L=='1'){%>时间：<%}else{%>Time：<%}%><%=data[0].timeEdit%></span><span class="arti_views"><%if(L=='1'){%>阅读：<%}else{%>Views：<%}%><%=data[0].viewsCount%></span></p>
                    <div class="entry">
                    <div class="read"><%if(L=='1'){%><%-data[0].pageContent%><%}else{%><%-data[0].pageContentEN%><%}%></div>
                    </div>
                  </div>
                </div>
              </div>
            <%}else{%>
            <div id="wp_news_w9"> 
              <%data.forEach(function(item){%>
                  <%let date = item.timeAdd;%>
                  <%let str = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() %>
                <a class="column-news-item item- clearfix" href="/csse/info?id=<%=item.id%>"><span class="column-news-title"><%if(L=='1'){%><%=item.title%><%}else{%><%=item.titleEN%><%}%></span><span class="column-news-date news-date-hide"><%=str%></span></a> 
              <%})%>
              
            </div> 

            <div id="wp_paging_w9"> 
              <ul class="wp_paging clearfix"> 
                   <li class="pages_count"> 
                       <!-- <span class="per_page">每页<em class="per_count">14</em>条记录</span>  -->
                       <span class="all_count">总共 <em class="all_count"><%=count%></em> 条记录</span> 
                   </li> 
                   <li class="pages_count"> 
                    <span>当前是第 <%=page%> 页</span>
                   </li>
                   <li class="page_nav"> 
                       <a class="first" href="javascript:void(0);" target="_self"><span>首页</span></a> 
                       <a class="prev" href="javascript:void(0);" target="_self"><span>上一页</span></a> 
                       <a class="next" href="javascript:void(0);" target="_self"><span>下一页</span></a> 
                       <a class="last" href="javascript:void(0);" target="_self"><span>尾页</span></a> 
                   </li> 
                   <!-- <li class="page_jump"> 
                       <span class="pages">页码：<em class="curr_page">1</em>/<em class="all_pages">1</em></span> 
                       <span><input class="pageNum" type="text"><input type="hidden" class="currPageURL" value=""></span> 
                       <span><a class="pagingJump" href="javascript:void(0);" target="_self">跳转</a></span> 
                   </li>  -->
              </ul> 
            </div> 
            <script type="text/javascript"> 
                 $().ready(function() { 
                     $("#wp_paging_w9 .pagingJump").click(function() { 
                         var pageNum = $("#wp_paging_w9 .pageNum").val(); 
                         if (pageNum === "") { alert('请输入页码！'); return; } 
                         if (isNaN(pageNum) || pageNum <= 0 || pageNum > 1) { alert('请输入正确页码！'); return; } 
                         var reg = new RegExp("/list", "g"); 
                         var url = "/2522/list.htm"; 
                         window.location.href = url.replace(reg, "/list" + pageNum); 
                     }); 
                     $("#wp_paging_w9 .first").click(function() { 
                      console.log('first')
                         let page =  Number('')//当前页
                         page = 1                        
                         let path = GetQueryString('path')
                         window.location.href = "/csse/infolist?page=" + page + "&path="+path
                     }); 
                      $("#wp_paging_w9 .prev").click(function() { 
                        console.log('prev')
                         let page =  Number('<%=page%>')//当前页
                         if(page==1){return}     
                         if(page>1){page = page - 1}                   
                        let path = GetQueryString('path')
                        window.location.href = "/csse/infolist?page=" + page + "&path="+path
                     }); 
                      $("#wp_paging_w9 .next").click(function() { 
                        console.log('next')
                         let page =  Number('<%=page%>')//当前页
                         let count = Number('<%=count%>'),
                             allpage = parseInt(count/15)
                         page = page + 1
                         if(page>allpage){return}                  
                         let path = GetQueryString('path')
                         window.location.href = "/csse/infolist?page=" + page + "&path="+path
                     }); 
                       $("#wp_paging_w9 .last").click(function() { 
                        console.log('last')
                         let page =  Number('<%=page%>')//当前页
                         let count = Number('<%=count%>'),
                             allpage = parseInt(count/15)
                         if(page>=allpage){return}          
                         let path = GetQueryString('path')    
                         window.location.href = "/csse/infolist?page=" + allpage + "&path="+path    
                     }); 
                 }); 
            </script> 
            <%}%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"> 
//获取参数
function GetQueryString(name)
{
     let reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
     let r = window.location.search.substr(1).match(reg);//search,查询？后面的参数，并匹配正则
     if(r!=null)return  unescape(r[2]); return null;
}
//获取类别
function info_class(str,language){
  let info_class = ''
  switch(str){
    case '179-182-':
      (language=='1')?info_class = '学院通知':info_class = 'Notice'
      break
    case '179-181-':
      (language=='1')?info_class = '学院新闻':info_class = 'News'
      break
    case '179-262-':
      (language=='1')?info_class = '学生事务':info_class = 'Student'
      break
    case '179-239-':
      (language=='1')?info_class = '就业招聘':info_class = 'Job'
      break
    case '179-268-':
      (language=='1')?info_class = '教学活动':info_class = 'Teaching'
      break
    case '179-213-':
      (language=='1')?info_class = '公示公告':info_class = 'Declare'
      break
    default:
        (language=='1')?info_class = '暂无类别':info_class = 'Notype'
  }
  return info_class
}
$().ready(function() { 
  let aside_path = '<%=path%>'
  console.log('设置左侧菜单，当前path是---','<%=path%>',$("a[href*="+aside_path+"]"))
  $("a[href*="+aside_path+"]").addClass("selected")
  console.log('类别--->',info_class('<%=path%>','<%=L%>'))
  $('.info_class').text(info_class('<%=path%>','<%=L%>'))
})
</script>

<%if(L=='1'){%>
<%include content_footer.ejs%>
<%}%>
<%if(L!='1'){%>
<%include content_footer_en.ejs%>
<%}%>