
<%if(L=='1'){%>
<%include content_header.ejs%>
<%}%>
<%if(L!='1'){%>
<%include content_header_en.ejs%>
<%}%>
<!-- 信息发布栏目下的具体内容 -->
<!-- 内容 -->
<div class="wp-wrapper wp-banner listl content_wrapper" frag="面板21">
  <div class="wp-inner" frag="窗口21" portletmode="simpleColumnAttri">   
      <div class="banner"><img border='0' src='images/banner2.jpg'  /></div>
  </div>
</div>
<!--Start||content-->
<div class="wrapper" id="d-container">
  <div class="inner clearfix">
    <div class="list-head" frag="面板8">
            <div class="list-meta clearfix" frag="窗口8" portletmode="simpleColumnAttri">
                <div class="my-column-path">
                  <a href="/csse" target="_self"><%if(L=='1'){%>首页<%}else{%>Home<%}%></a>
                  <span class="possplit">&nbsp;&nbsp;</span>
                  <a href="/csse/path=179-182-" target="_self">信息发布</a>
                  <span class="possplit">&nbsp;&nbsp;</span>
                  <a href="" target="_self" id="info_link"><em id="info_class"></em></a>
                </div>
            </div>
      </div>
    <div class="infobox">
      <div class="article" frag="窗口3" portletmode="simpleArticleAttri">
        <div frag="窗口内容">
          <h1 class="arti_title"><%if(L=='1'){%><%=data.title%><%}else{%><%=data.titleEN%><%}%></h1>
          <h2 class="arti_title"></h2>
          <p class="arti_metas"><span class="arti_publisher"></span><span class="arti_update"><%if(L=='1'){%>时间：<%}else{%>Time：<%}%><%=data.timeEdit%></span><span class="arti_views"><%if(L=='1'){%>阅读：<%}else{%>Views：<%}%><%=data.viewsCount%></span></p>
          <div class="entry">
          <div class="read"><%if(L=='1'){%><%-data.pageContent%><%}else{%><%-data.pageContentEN%><%}%></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
function info_class(str,language){
  let info_class = ''
  switch(str){
    case '179-182-':
      (language=='1')?info_class = '学院通知':info_class = 'Notice'
      break
    case '179-181-':
      (language=='1')?info_class = '学院新闻':info_class = 'News'
      break
    case '179-262-':
      (language=='1')?info_class = '学生事务':info_class = 'Student'
      break
    case '179-239-':
      (language=='1')?info_class = '就业招聘':info_class = 'Job'
      break
    case '179-268-':
      (language=='1')?info_class = '教学活动':info_class = 'Teaching'
      break
    case '179-213-':
      (language=='1')?info_class = '公示公告':info_class = 'Declare'
      break
    default:
        (language=='1')?info_class = '暂无类别':info_class = 'Notype'
  }
  return info_class
}
$().ready(function() { 
  console.log('类别--->',info_class('<%=data.trees%>','<%=L%>'))
  $('#info_class').text(info_class('<%=data.trees%>','<%=L%>'))
  $('#info_link').attr('href','/csse/infolist?path=<%=data.trees%>')
})
</script>
<!--End||content-->
<!-- 内容 --> 
<!-- 底部 -->

<%if(L=='1'){%>
<%include content_footer.ejs%>
<%}%>
<%if(L!='1'){%>
<%include content_footer_en.ejs%>
<%}%>