<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">
  <title>College of Computer Science and Software Engineering, SZU</title>
  <link rel="stylesheet" href="../../stylesheets/css_en/common.css">
  <link rel="stylesheet" href="../../stylesheets/css_en/slick.css">
  <link rel="stylesheet" href="../../stylesheets/css_en/university/index.css">
<style>
  .mytit{font-family: Microsoft YaHei;}
</style>
</head>

<body class="university">
    <div class="header">
        <div class="head-cont">
            <div class="head-left">
                <a href="/csse" class="home-img">
                    <img src="../../image/common/logo_school.svg" class="logo_school" />
                    <img src="../../image/common/logo_collage.svg" class="logo_collage" />
                </a>
                <div class="head-txt">
                    <div class="name b">深圳大学计算机与软件学院</div>
                    <div class="small">College of Computer Science and Software Engineering, SZU</div>
                </div>
            </div>
            <div class="head-right">
                <div class="pc-con">
                    <div class="head-nav1">
                        <a class="lang changeL" href="#"  id="changeL">
                            <img class="lang_icon" src="../../image/common/lang-icon.png" />
                            CN
                        </a>
                    </div>
                    <div class="head-nav2">
                        <div class="nav">
                            <a href="../../">Home</a>
                        </div>
                        <div class="nav active">
                            <a href="../../pages/university/index">About</a>
                            <div class="nav-area">
                                <div class="nav-area-row tc fl-1">
                                    <a href="../../pages/university/index" class="active">General Information</a>
                                    <a href="../../pages/university/message">Dean Notes</a>
                                    <a href="../../pages/university/leader">Current Leaders</a>
                                </div>
                            </div>
                        </div>
                        <div class="nav">
                            <a href="../../pages/organization/index">Organization</a>
                            <div class="nav-area w600">
                              <div class="nav-area-row p40">
                                  <a href="http://nhpcc.szu.edu.cn/" target="_blank">National High Performance Computing Center (NHPCC) at Shenzhen</a>
                                  <a href="http://bigdata.szu.edu.cn/" target="_blank">Big Data Institute</a>
                                  <a href="http://futuremedia.szu.edu.cn/" target="_blank">Research Institute for Future Media Computing</a>
                                  <a href="http://security.szu.edu.cn/" target="_blank">Research Institute of Network and Information Security</a>
                                  <a href="http://cv.szu.edu.cn/" target="_blank">Institute of Computer Vision</a>
                                  <a href="https://vcc.tech/" target="_blank">Visual Computing Research Center (VCC)</a>
                                  <a href="http://www.futurenet.ac.cn/" target="_blank">The IoT Research Center</a>
                                  <a href="http://itsi.szu.edu.cn/" target="_blank">Research Institute of Intelligence Technology and System Integration</a>
                                 <a href="#">Software Engineering Research Center</a>
                              </div>
                              <div class="nav-area-row p30">
                                  <a href="../../pages/organization/index">Departments</a>
                                  <a href="https://bdsc.szu.edu.cn" target="_blank">National Laboratory</a>
                                  <a href="http://csse.szu.edu.cn/cpct" target="_blank">National Teaching Centers</a>
                                  <a href="../../pages/organization/periodical">IJMLC Office</a>
                              </div>
                          </div>
                        </div>
                        <div class="nav">
                            <a href="../../pages/teacherTeam/index?zc=1">People</a>
                            <div class="nav-area w150">
                                <div class="nav-area-row tc fl-1">
                                  <a href="../../pages/teacherTeam/index?zc=1">Outstanding Talent</a>
                                  <a href="../../pages/teacherTeam/index?zc=2">Professor</a>
                                  <a href="../../pages/teacherTeam/index?zc=3">Associate Professor</a>
                                  <a href="../../pages/teacherTeam/index?zc=4">Lecturer</a>
                                  <a href="../../pages/teacherTeam/index?zc=5">Assistant Professor</a>
                                  <a href="../../pages/teacherTeam/index?zc=6">Researcher&Admin</a>
                                  <a href="../../pages/teacherTeam/index?zc=7">Postdoctoral Researcher</a>
                                </div>
                            </div>
                        </div>
                        <div class="nav">
                            <a href="../../pages/research/index?y=2021">Research</a>
                        </div>
                        <div class="nav">
                          <a href="../../pages/globalCooperation/partner">Global</a>
                          <div class="nav-area">
                              <div class="nav-area-row tc fl-1">
                                <a href="../../pages/globalCooperation/partner">Partners</a>
                                <a href="../../pages/globalCooperation/jointTraining">Joint Programs</a>
                                <a href="../../pages/globalCooperation/coresearch">International Platforms</a>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="mobile-con">
                    <a href="javascript:void(0)" class="nav-btn"></a>
                </div>
            </div>
        </div>
        <div class="nav_site mobile-nav" style="display: none;">
            <ul class="mobile_navs">
              <li>
                <a href="#" class="link changeL">
                  <img class="lang_icon" src="../../image/common/lang-icon.png" />
                  <span>CN</span>
                </a>
              </li>
              <li>
                <a href="/csse">Home</a>
              </li>
              <li class="first">
                  <a href="../../pages/university/index">About</a>
                  <i></i>
                  <ol>
                      <li><a href="../../pages/university/index">General Information</a></li>
                      <li><a href="../../pages/university/message">Dean Notes</a></li>
                      <li><a href="../../pages/university/leader">Current Leaders</a></li>
                  </ol>
              </li>
              <!--1-->
              <li>
                  <a href="../../pages/organization/index">Organization</a><i></i>
                  <ol>
                    <li><a href="http://nhpcc.szu.edu.cn/" target="_blank">National High Performance Computing Center (NHPCC) at Shenzhen</a></li>
                    <li><a href="http://bigdata.szu.edu.cn/" target="_blank">Big Data Institute</a></li>
                    <li><a href="http://futuremedia.szu.edu.cn/" target="_blank">Research Institute for Future Media Computing</a></li>
                    <li><a href="http://security.szu.edu.cn/" target="_blank">Research Institute of Network and Information Security</a></li>
                    <li><a href="http://cv.szu.edu.cn/" target="_blank">Institute of Computer Vision</a></li>
                    <li><a href="https://vcc.tech/" target="_blank">Visual Computing Research Center (VCC)</a></li>
                    <li><a href="http://www.futurenet.ac.cn/" target="_blank">The IoT Research Center</a></li>
                    <li><a href="http://itsi.szu.edu.cn/" target="_blank">Research Institute of Intelligence Technology and System Integration</a></li>
                   <li><a href="#">Software Engineering Research Center</a></li>
                    <li><a href="../../pages/organization/index">Departments</a></li>
                    <li><a href="https://bdsc.szu.edu.cn" target="_blank">National Laboratory</a></li>
                    <li><a href="http://csse.szu.edu.cn/cpct" target="_blank">National Teaching Centers</a></li>
                    <li><a href="../../pages/organization/periodical">IJMLC Office</a></li>
                  </ol>
              </li>
              <!--2-->
              <li>
                  <a href="../../pages/teacherTeam/index?zc=1">People</a><i></i>
                  <ol>
                    <li><a href="../../pages/teacherTeam/index?zc=1">Outstanding Talent</a></li>
                    <li><a href="../../pages/teacherTeam/index?zc=2">Professor</a></li>
                    <li><a href="../../pages/teacherTeam/index?zc=3">Associate Professor</a></li>
                    <li><a href="../../pages/teacherTeam/index?zc=4">Lecturer</a></li>
                    <li><a href="../../pages/teacherTeam/index?zc=5">Assistant Professor</a></li>
                    <li class="item">
                      <div>
                        <a href="#">Researcher & Admin</a>
                      </div>
                      <div class="third">
                        <a href="../../pages/teacherTeam/index?zc=6">Researcher</a>
                        <a href="../../pages/teacherTeam/index?zc=10">Associate Researcher</a>
                        <a href="../../pages/teacherTeam/index?zc=9">Tech/Admin Staff</a>
                      </div>
                  </li>
                    <li><a href="../../pages/teacherTeam/index?zc=7">Postdoctoral Researcher</a></li>
                  </ol>
              </li>
              <!--3-->
              <li>
                  <a href="../../pages/research/index?y=2021">Research</a><i></i>
                  <ol>
                    <li><a href="../../pages/research/index?y=2021">2021</a></li>
                    <li><a href="../../pages/research/index?y=2020">2020</a></li>
                    <li><a href="../../pages/research/index?y=2019">2019</a></li>
                    <li><a href="../../pages/research/index?y=2018">2018</a></li>
                    <li><a href="../../pages/research/index?y=2017">2017</a></li>
                    <li><a href="../../pages/research/index?y=2016">2016</a></li>
                    <li><a href="../../pages/research/index?y=Before">Before</a></li>
                    <li><a href="../../pages/research/index?b=1">National High Performance Computing Center</a></li>
                    <li><a href="../../pages/research/index?b=2">Big Data Institute</a></li>
                    <li><a href="../../pages/research/index?b=3">Research Institute for Future Media Computing</a></li>
                    <li><a href="../../pages/research/index?b=4">Research Institute of Network and Information Security</a></li>
                    <li><a href="../../pages/research/index?b=5">Institute of Computer Vision</a></li>
                    <li><a href="../../pages/research/index?b=8">Visual Computing Research Center</a></li>
                    <li><a href="../../pages/research/index?b=7">The IoT Research Center</a></li>
                    <li><a href="../../pages/research/index?b=6">Research Institute of IntelligenceTechnology and System Integra</a></li>
                   <li><a href="../../pages/research/index?b=11">Software Engineering Research Center</a></li>
                    <!-- <li><a href="../../pages/research/index?b=9">Departments</a></li> -->
                  </ol>
                </li>
                <!--5-->
                <li>
                    <a href="../../pages/globalCooperation/partner">Global</a><i></i>
                    <ol>
                      <li><a href="../../pages/globalCooperation/partner">Partners</a></li>
                      <li><a href="../../pages/globalCooperation/jointTraining">Joint Programs</a></li>
                      <li><a href="../../pages/globalCooperation/coresearch">International Platforms</a></li>
                    </ol>
                </li>
            </ul>
            <div class="action">
                <ul>
                    <li class="calendar"><a href="../../">Homepage</a></li>
                </ul>
            </div>
        </div>
      </div>

  <div class="banner">
    <img src="../../image/en/university_image/banner.png" class="b_bg lazy_img pimg" />
    <img src="../../image/en/university_image/m-banner.png" class="b_bg lazy_img mimg" />
  </div>
  <div class="contain">
    <div class="contain-area clearfix">
      <div class="nav-list">
        <a href="../../pages/university/index" class="nav active">General Information</a>
        <a href="../../pages/university/message" class="nav">Dean Notes</a>
        <a href="../../pages/university/leader" class="nav">Current Leaders</a>
      </div>
      <div class="introduction">
        <div class="img-list">
          <img src="../../image/en/university_image/Introduction-img.png" class="img" />
        </div>
        <div class="cont-txt">
          <img src="../../image/en/university_image/file.png" class="img-file" />
          <div class="con">
            <p class="m40">
                <%-data.xyjj.pageContentEN-%> 
            </p>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="info-list">
          <div class="row row2">
            <div class="b tit c_cca84d">National Research Platform</div>
            <p class="m32 mytit">National Engineering Laboratory for Big Data System Computing Technology</p>
            <div class="b tit c_cca84d">National Teaching Platforms</div>
            <div class="m32 mytit">
              <p>
                Computer Experimental Teaching Center<br />(National Computer Experimental Demonstration Center)
              </p>
              <p>
                Virtual Simulation Experimental Center for Network Engineering<br />(National Virtual Simulation Experimental Center)
              </p>
            </div>
            <div class="b tit c_cca84d">Municipal Research Platforms</div>
            <p class="mytit">Shenzhen City Key Laboratory of Service Computing and Applications</p>
            <p class="mytit">Engineering Laboratory of Mobile Internet Application Middleware, Shenzhen City</p>
            <p class="mytit">Shenzhen City Key Laboratory of Embedded System Design</p>
            <p class="mytit">Shenzhen Laboratory of IC Design for Internet of Things</p>
            <p class="mytit">Shenzhen Share Platform of Sci. & Tech. Innovation Resource</p>
          </div>
          <div class="row">
            <div class="b tit c_cca84d">Provincial Research Platforms</div>
            <p class="mytit">Guangdong Laboratory of Artificial Intelligence and Digital Economy (Shenzhen)</p>
            <p class="mytit">Guangdong Province Key Laboratory of Popular High Performance Computers</p>
            <p class="mytit">Big Data Collaborative Innovation Center, Guangdong Province</p>
            <p class="mytit">Engineering Research Center of Mobile Internet Application Middleware, Guangdong Province</p>
            <p class="mytit">Research and Development Platform for Intelligent Analysis and Processing of High-Definition Video</p>
            <p class="mytit">Engineering Research Center of Big Data Analytics in University System, Guangdong Province</p>
            <p class="mytit">China-UK Visual Information Processing Lab</p>
            <p class="mytit">Computer Software Collaborative Education Platform, Guangdong Province</p>
            <p class="mytit">Guangdong Engineering Laboratory of China-made High Performance Data Computing System</p>
            <p class="mytit">Guangdong Engineering Research Center of High Performance Data Computing System</p>
            <p class="mytit">Guangdong Engineering Research Center of 3D Content Production</p>
          </div>
        </div>
      </div>

      <!-- high-lights -->
      <div class="high-lights">
        <div class="high-list">
          <div class="high-left clearfix">
            <div class="l l-30">
              <span class="num c_cca84d b mynum"><%=data.highlights.ruanke%></span>
              <p class="c_333399 small">ARWU</p>
            </div>
            <div class="l l-30">
              <span class="num c_cca84d b mynum"><%=data.highlights.usnews%></span>
              <p class="c_333399 small">US News</p>
            </div>
            <div class="l l-40">
              <span class="num c_cca84d b mynum"><%=data.highlights.csrankings%></span>
              <p class="c_333399 small">CSRankings</p>
              <p class="c_333399 small">（2016-2021）</p>
            </div>
            <div class="l l-30 noBorBot">
              <span class="num c_cca84d b mynum"><%=data.highlights.taiws%></span>
              <p class="c_333399 small">THE</p>
            </div>
            <div class="l l-30 noBorBot">
              <span class="num c_cca84d b mynum"><%=data.highlights.qs%></span>
              <p class="c_333399 small">QS</p>
            </div>
            <div class="l l-40 noBorBot">
              <span class="num c_cca84d b"><%=data.highlights.esc%>%</span>
              <p class="c_333399 small">ESI</p>
            </div>
          </div>
          <div class="high-right clearfix">
            <div class="l l-25">
              <div class="img">
                <img src="../../image/index/internationality/28@2x.png" />
              </div>
              <div class="num c_cca84d b mynum"><%=data.highlights.zhuanzjs%></div>
              <div class="small c_ccc">Faculty</div>
            </div>
            <div class="l l-25">
              <div class="img">
                <img src="../../image/index/internationality/24@2x.png" />
              </div>
              <div class="num c_cca84d b mynum"><%=data.highlights.benks%></div>
              <div class="small c_ccc">Undergraduates</div>
            </div>
            <div class="l l-25">
              <div class="img">
                <img src="../../image/index/internationality/20@2x.png" />
              </div>
              <div class="num c_cca84d b mynum"><%=data.highlights.yanjs%></div>
              <div class="small c_ccc">Graduates</div>
            </div>
            <div class="l l-25 noBorRig">
              <div class="img">
                <img src="../../image/index/internationality/28@2x.png" />
              </div>
              <div class="num c_cca84d b mynum"><%=data.highlights.guojjxm%></div>
              <div class="small c_ccc">National Projects</div>
              <div class="small c_ccc">(2016-2021)</div>

            </div>
            <div class="l l-25 noBorBot">
              <div class="img">
                <img src="../../image/index/internationality/29@2x.png" />
              </div>

              <div class="num c_cca84d b mynum"><%=data.highlights.guojjpt%></div>
              <div class="small c_ccc">National Platforms</div>
            </div>
            <div class="l l-25 noBorBot">
              <div class="img">
                <img src="../../image/index/internationality/27@2x.png" />
              </div>

              <div class="num c_cca84d b mynum"><%=data.highlights.guojjrc%></div>
              <div class="small c_ccc">National Talents</div>
            </div>
            <div class="l l-25 noBorBot">
              <div class="img">
                <img src="../../image/index/internationality/28@2x.png" />
              </div>
              <div class="num c_cca84d b "><%=data.highlights.xueymj%><span class="small">hm²</span></div>
              <div class="small c_ccc">College Area</div>
            </div>
            <div class="l l-25 noBorBot noBorRig">
              <div class="img">
                <img src="../../image/index/internationality/26@2x.png" />
              </div>
              <div class="num c_cca84d b">¥<%=data.highlights.shebjz%><span class="small">million</span></div>
              <div class="small c_ccc">Equipment Value</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="pc_footer">
        <div class="foot_cont">
            <div class="foot-top clearfix">
                <div class="foot-row">
                    <div class="tit b">LINKS</div>
                    <ul class="p-foot-list foot-list">
                        <li>
                            <a href="https://szu.edu.cn" target="_blank">
                                <img class="foot_img foot_img1" src="../../image/common/logo_school.png" />
                            </a>
                        </li>
                        <li>
                            <a href="https://bdsc.szu.edu.cn/" target="_blank">
                                <img class="foot_img foot_img2" src="../../image/common/BD.png" />
                            </a>
                        </li>
                        <li>
                            <a href="https://ailab.szu.edu.cn/" target="_blank">
                                <span class="b txt">省实验室</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://csse.szu.edu.cn/cpct" target="_blank">
                                <span class="b txt">实验中心</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.tencent.com/" target="_blank">
                                <img class="foot_img foot_img3" src="../../image/common/tencent-logo.png" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.huawei.com/" target="_blank">
                                <img class="foot_img foot_img4" src="../../image/common/huawei-logo.png" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="foot-row">
                    <div class="tit b">CONTACT US</div>
                    <ul class="foot-info">
                        <li>
                            <img class="icon_img" src="../../image/common/ress-icon.png" />
                            <div class="txt-right">
                                <div class="txt b">ADDRESS</div>
                                <div class="txt1">
                                    Zhiteng Building, Canghai Campus of Shenzhen University,
                                    Nanshan District, Shenzhen, Guangdong Province,
                                    <br>China 518060
                                </div>
                            </div>
                        </li>
                        <li>
                            <img class="icon_img" src="../../image/common/phone-icon.png" />
                            <div class="txt-right">
                                <div class="txt b">Tel & FAX</div>
                                <div class="txt1">+86 0755 26534078</div>
                            </div>
                        </li>
                        <li>
                            <img class="icon_img" src="../../image/common/email-icon.png" />
                            <div class="txt-right">
                                <div class="txt b">E-mail</div>
                                <div class="txt1">csse@szu.edu.cn</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="foot-row">
                    <div class="tit b">SUBSCRIPTION TO WECHAT OFFICIAL ACCOUNTS</div>
                    <ul class="foot-code">
                        <li>
                            <div class="txt b">CSSE</div>
                            <img class="code_img lazy_img" src="../../image/common/csse.png" />
                            <div class="txt"></div>
                        </li>
                        <%if(L=='1'){%>
                          <li>
                              <div class="txt b">Party-masses</div>
                              <img class="code_img lazy_img" src="../../image/common/party-messes.png" />
                              <div class="txt"></div>
                          </li>
                        <%}%>
                        <li>
                            <div class="txt b">SZU</div>
                            <img class="code_img lazy_img" src="../../image/common/szu.png" />
                            <div class="txt"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="foot-bot line">
                粤ICP备11018045号<span class="txt"><img class="ga_img" src="../../image/common/ga_img.png" />粤公网安备
                  44030502007936号</span><span class="location">Copyright © 2021 College of Computer Science and
                    Software Engineering, SZU</span>
                <span class="to_top"><i></i>TOP</span>
            </div>
        </div>
    </div>
    <div class="footer_wrap"></div>
    <img src="../../image/common/bot.png" class="bot_img p-bg" />
    <img src="../../image/mobile/m-bot-bg.png" class="bot_img m-bg" />
  </div>

  <script src="../../javascripts/js/jquery.min.js"></script>
  <script src="../../javascripts/js/jquery.lazyload.min.js"></script>
  <script src="../../javascripts/js/common.js"></script>

  <script src="../../javascripts/js/brcheck.js"></script>
  <script src="../../javascripts/jquery.countup.min.js"></script>
<script src="../../javascripts/jquery.waypoints.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.mynum').countUp()
    })
    $(document).ready(function () {
        $('.changeL').click(function(){
            console.log('change to en')
            $.get('/csse/setLanguage', {
                language:'1'
            }, function(data){
                if(data.success){
                //return 1
                return window.location.reload();
                }
            }, 'json');
        })
    })
  </script>
</body>

</html>