<div class="demoTable searchbox">
    <div class='search-item'>
        <div class='searchbox-title'>关键字:</div>
        <div class="layui-inline">
            <input class="layui-input" name="search" id="search_txt" autocomplete="off">
        </div>
    </div>
    
    <% search_param.forEach(function(item){ %>
        <div class='search-item'>
            <!--<option value="<%=item%>" ><%=item%></option>-->
            <div class='searchbox-title'><%=item.title%>:</div>
            <div class="layui-inline">
                <% if(item.type == 'url_select'){ %>
                <input type="text" id="<%=item.field%>" name='<%=item.field%>' class="selectpage layui-input" showField='<%=item.showField%>' keyField='<%=item.keyField%>' url='<%=item.url%>' value=""  data-init="" > 
                <% } else if(item.type == 'select'){ %>
                    
                    <select name="<%=item.field%>" lay-filter="<%=item.field%>" id="<%=item.field%>" style='height: 38px;'>
                        <option value='''></option>
                        <% item.list.forEach(function(listitem){ %>
                           <option value='<%=listitem.value%>' ><%=listitem.title%></option>
                        <%})%>
                    </select>

                <% } else if (item.type == 'url_input'){  %>
                <div class="input-box">
                  <input class="layui-input wx-input" id="<%=item.field%>" name='<%=item.field%>'  showField='<%=item.showField%>' keyField='<%=item.keyField%>' url='<%=item.url%>' autocomplete="off">
                </div>
                <% } else if (item.type == 'input'){  %>
                <input class="layui-input" id="<%=item.field%>" name='<%=item.field%>' autocomplete="off">
                <% } else{ %>
            <input class="layui-input" id="<%=item.field%>" name='<%=item.field%>' autocomplete="off">
            <% }  %>
            </div>
        </div>
    <%})%>
    
    <button class="layui-btn search-item-button" data-type="reload" id="search_btn"><i class="layui-icon">&#xe615;</i>搜索</button>
    <button class="layui-btn search-item-button" data-type="reload" id="refresh_btn"><i class="layui-icon ">&#xe666;</i>刷新</button>
  </div>
<div style="clear:both"></div>
<script type="text/javascript" src="../manage/js/jquery-2.1.1.min.js"></script>

<script>
    //数据重载
$('#search_btn,#refresh_btn').on('click', function(){
    var whereparam = {};
    $(".searchbox input,select").each(function(){
        whereparam[$(this).attr('name')] = $(this).val()
    });
    layui.use(['jquery','table'], function(){ 
    let $ = layui.$ //重点处
    let table = layui.table
    table.reload('<%=realod_id%>', {
        where: whereparam
    });
   });
})
</script>