<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>查看 | 编辑 成果录入</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../stylesheets/public.css" media="all" />
	<link rel="stylesheet" href="../stylesheets/easy_upload.css" media="all" />
	<style type="text/css">
		.filedelbtn{
			margin-left: 5px;
		}
		#fujian p{
			margin-bottom: 5px;
		}
		
		
        
	</style>
</head>
<body class="childrenBody">
	<form class="layui-form layui-row layui-col-space10">
		<div class="layui-col-md12 layui-col-xs12">

			<div class="layui-form-item">
				<div class="layui-inline">
					<div class="form-item">
						<label class="layui-form-label">成果名称</label>
						<div class="form-item-inline" >
						<input type="text" name="title" lay-verify="required" autocomplete="off" class="layui-input" id="title">
						</div>
				    </div>
					<div class="form-item">
						<label class="layui-form-label">年份</label>
						<div class="form-item-inline" >
						<!--<input type="text" name="year" lay-verify="yearverify" autocomplete="off" class="layui-input" id="year">-->
						<input type="text" id="year"  class="selectpage layui-input" showField='title' keyField='title' url='./year' value="<%=data.year%>"  data-init="<%=data.year%>" > 
						</div>
				    </div>
				</div>
			</div>
            <div class="layui-form-item">
				<div class="layui-inline">
					<div class="form-item">
						<label class="layui-form-label">刊物</label>
						<div class="form-item-inline" >
							<!--<input type="text" name="year" lay-verify="yearverify" autocomplete="off" class="layui-input" id="year">-->
							<input type="text" id="kanwu"  class="selectpage layui-input" showField='title' keyField='title' url='./kanwu' value="<%=data.kanwu%>"  data-init="<%=data.kanwu%>" > 
						</div>
					</div>
					<div class="form-item">
						<label class="layui-form-label">作者</label>
						<div class="form-item-inline" >
						<input type="text" name="zuozhe" lay-verify="required" autocomplete="off" class="layui-input" id="zuozhe" value="<%=data.zuozhe%>" placeholder="多个作者按顺序用,隔开">
						</div>
				    </div>
					
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<div class="form-item">
						<label class="layui-form-label">研究所</label>
						<div class="form-item-inline" >
							<select name="belongsto" lay-filter="belongsto" id="belongsto">
								<option value="其它"  belongstoid="10" belongsto1="">其它</option>
								<option value="教学系" suoxiid="9" belongsto1="">教学系</option>
								<option value="高性能计算研究所" belongstoid="1" belongsto1="National High Performance Computing Center (NHPCC) at Shenzhen">高性能计算研究所</option>
								<option value="大数据技术与应用研究所"  belongstoid="2" belongsto1="Big Data Institute">大数据技术与应用研究所</option>
								<option value="未来媒体技术与计算研究所"  belongstoid="3" belongsto1="Research Institute for Future Media Computing">未来媒体技术与计算研究所</option>
								<option value="网络与信息安全研究所"  belongstoid="4" belongsto1="Research Institute of Network and Information Security">网络与信息安全研究所</option>
								<option value="计算机视觉研究所"  belongstoid="5" belongsto1="Institute of Computer Vision">计算机视觉研究所</option>
								<option value="智能技术与系统集成研究所" belongstoid="6" belongsto1="Research Institute of Intelligence Technology and System Integration">智能技术与系统集成研究所</option>
								<option value="物联网研究中心"  belongstoid="7" belongsto1="The IoT Research Center">物联网研究中心</option>
								<option value="可视计算研究中心"  belongstoid="8" belongsto1="Visual Computing Research Center (VCC)">可视计算研究中心</option>
							</select>
						</div>
				    </div>
				</div>
			</div>
            <div class="layui-form-item">
				<div class="layui-inline">
					
					<!-- <label class="layui-form-label">单位</label>
					<div class="layui-input-inline" >
				      <input type="text" name="danwei" lay-verify="required" autocomplete="off" class="layui-input" id="danwei">
				    </div> -->
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">附件</label>
				<div class="layui-input-inline layui-upload-drag" id="tzggupload" style="width: 212px;">
				  <i class="layui-icon"></i>
				  <p>点击上传，或将文件拖拽到此处</p>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label"></label>
				<div class="layui-input-block" id="fujian" style="min-width: 00px;">
					
				</div>
			</div>
			
			<div class="layui-form-item">
				<label class="layui-form-label">封面图</label>
				<button type="button" class="layui-btn" id="test1">上传</button>
				<span>1000*460</span>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">预览图</label>
				<div class="layui-upload-list uploader-list" style="overflow: auto;" id="uploader-list">     
				</div>
				 <!-- <p style="margin-left: 105px;">(1100px * 240px)</p> -->
			</div>
			
			<div class="layui-form-item">
				<label class="layui-form-label">导入</label>
				<button type="button" class="layui-btn" id="wordimport" toid="pageContent">导入word(docx)</button>
			</div>
			
			<div class="layui-form-item">
				<label class="layui-form-label">详情</label>
				<div class="layui-input-block" id="intro_bk">
					<textarea id="pageContent"  value="<%=data.pageContent%>" /><%=data.pageContent%></textarea>
					
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label"></label>
				<button type="button" class="layui-btn" id="copy">一键复制到英文</button>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">详情(EN)</label>
				<div class="layui-input-block" id="eintro_bk">
					<textarea id="pageContentEN"  value="<%=data.pageContentEN%>" /><%=data.pageContentEN%></textarea>
					
				</div>
			</div>

			<div class="layui-form-item" style="text-align: center;">
				<hr class="layui-bg-gray" />
				<div class="layui-col-md-offset1">
					<a class="layui-btn layui-btn-sm" lay-filter="update" lay-submit><i class="layui-icon">&#xe609;</i>提交</a>
				</div>
			</div>
		</div>
	</form>
</body>
<script type="text/javascript" src="../manage/js/thirdpart.js"></script>
<script type="text/javascript">
$(function(){
	// 以下为默认配置，重新配置后将覆盖
	
	layui.use(['jquery','layer','form','layedit','upload','laydate'], function(){ 
    //let $ = layui.$, //重点处
    let	layedit = layui.layedit,
    	upload = layui.upload,
        laydate = layui.laydate
    //日期
	$(document).on("mouseenter mouseleave", ".file-iteme", function(event){
            if(event.type === "mouseenter"){
                //鼠标悬浮
                $(this).children(".handle").fadeIn("fast");
            }else if(event.type === "mouseleave") {
                //鼠标离开
                $(this).children(".handle").hide();
            }
        });
	// 删除图片
    $(document).on("click", ".file-iteme .handle", function(event){
		layer.confirm('确定要删除图片吗', {
			btn: ['确定','取消'] //按钮
			}, function(){
				console.log('$(this).parent()-----',$(this).parent(),$(this).parent().parent())
				$('#fmpic').parent().remove()
				layer.msg('已删除', {icon: 1});
			}, function(){
				layer.msg('已取消', {
					time: 1000, 
				});
		});
    });

    //图标上传
	let uploadInst = upload.render({
	    elem: '#test1'
        //本地与服务器
	    ,url: '<%=base_url%>cglrupload'
		,accept:"file"
        ,exts: 'jpg|jpeg|gif|png'
	    ,before: function(obj){
			console.log('try......')
			layer.msg('图片上传中...', {
                icon: 16,
                shade: 0.01,
                time: 0
            })
	    }
	    ,done: function(res){
			layer.close(layer.msg());//关闭上传提示窗口
	      console.log('upload success',res)
		 $('#uploader-list').empty()
		  $('#uploader-list').append(
                    '<div id="" class="file-iteme">' +
                    '<div class="handle"><i class="layui-icon layui-icon-delete"></i></div>' +
                    '<img style="height: 150px;" id="fmpic" src='+ res.data +'>' +
                    '</div>'
                );
          layer.msg('图片上传成功')
	      //上传成功
	    }
	    ,error: function(){
	      layer.msg('上传失败，请联系CRX')
	    }
	  });
	  upload.render({
	    elem: '#tzggupload'
	    ,url: '<%=base_url%>cglrupload'
	    ,accept : 'file'
		,exts: 'pdf'
	    ,multiple: true
	    ,before:function(obj){
	    	let files = obj.pushFile()
	    	console.log('files',files)
	    	let filelist = []
   			obj.preview(function(index, file, result){
   			 	console.log(index); //得到文件索引
      			console.log(file); //得到文件对象
      			//console.log(result); //得到文件base64编码，比如图片
      			//这里还可以做一些 append 文件列表 DOM 的操作
      			$('#fujian').append('<p id="pid'+index+'">' + file.name + '<a id="fileindex'+ index +'" class="layui-btn layui-btn-danger layui-btn-xs filedelbtn"> 删除 </p>')
      			$('#fileindex'+index).bind('click',function(){
      				console.log('delete file',files)
			      		delete files[index];//删除
			      		$(this).parent().remove();
			     })
     		})
	    },
	    allDone: function(obj){ //当文件全部被提交后，才触发
	    	console.log('allDone',obj)
		    console.log(obj.total); //得到总文件数
		    console.log(obj.successful); //请求成功的文件数
		    console.log(obj.aborted); //请求失败的文件数
		    //$('#fujian').html(filelist)
		}
	    ,done: function(res,index,upload){//服务端响应信息、当前文件的索引、重新上传的方法
	      console.log(res)
	      console.log('done')
	      console.log('index',index)
	      //假设code=0代表上传成功
	      //let filelist = []
		    if(res.errno == 0){
				console.log((res.data),(res.returnfilename)[0])
		    	$('#pid'+index).attr('path',(res.data))
		    	$('#pid'+index).attr('name',(res.returnfilename)[0])	
		    }
	    }
	});
    let form = layui.form,layer = layui.layer
    //先得到当前iframe层的索引
	let pageContent = CKEDITOR.replace("pageContent");
	let pageContentENEditor = CKEDITOR.replace("pageContentEN");
	$('#copy').bind('click',function(){
		pageContentENEditor.setData(pageContent.getData())
	})
	
    let id = '<%-data.id%>'
    /*let pageContent = CKEDITOR.replace("pageContent");
	let pageContentENEditor = CKEDITOR.replace("pageContentEN");
	$('#copy').bind('click',function(){
		pageContentENEditor.setData(pageContent.getData())
	})
	*/	
    if(id==''||id==null||typeof(id)=='undefined'){
		console.log('新增',id)
	}else{
         //初始化表单值
        $('#title').val('<%- data.title%>')
        $('#year').val('<%- data.year%>')

        $('#belongsto').val('<%=data.belongsto%>')
		//20211106
		let patharr = '<%=data.patharr%>',
			namearr = '<%=data.namearr%>'
		patharr = patharr.split(',')
		namearr = namearr.split(',')
		if(patharr.length!=0){
			console.log('patharr----->',patharr)
			patharr.forEach(function(item,index){
				$('#fujian').append('<p id="pid'+index+'" path='+item+'>' + namearr[index] + '<a id="fileindex'+ index +'" class="layui-btn layui-btn-danger layui-btn-xs filedelbtn"> 删除 </p>')
				$('#fileindex'+index).bind('click',function(){
			      		$(this).parent().remove();
			     })
			})
		}
		//初始化封面图
		$('#uploader-list').append(
			'<div id="" class="file-iteme">' +
			'<div class="handle"><i class="layui-icon layui-icon-delete"></i></div>' +
			'<img style="height: 150px;" id="fmpic" src=<%-data.fujianPath%> ></div>'
		);
  		form.render()
	}
	form.verify({
		yearverify: function(value){ //自定义lay-verify的昵称，value：表单的值
			var reg = /^\d{4}$/;
			if(!reg.test(value))
				{
					return "年份为4位数";
				}
		}
	})

    form.on('submit(update)', function(data){
	  //附件
	  let $pitem = $('#fujian p'),
	  	  patharr = '',
	  	  namearr = ''
	  $('#fujian p').each(function(){
	  	patharr = patharr + $(this).attr('path') + ','
	  	namearr = namearr + $(this).attr('name') + ','
	  	console.log(patharr)
	  	console.log(namearr)
	  })
      //checkbox
    	let topstr = ''
    	 $("input:checkbox[name='isTop']:checked").each(function(i){
                console.log('checkbox',$(this).val())
                topstr += $(this).val() + ';';
         });
         console.log('topstr',topstr)
	  //更新
	  data.field.id = id
	  // data.field.pageContent =pageContent.getData()
	  //data.field.pageContentEN = ue2.getContent()
	  data.field.pageContent = pageContent.getData()
	  data.field.pageContentEN = pageContentENEditor.getData()
	  data.field.patharr = patharr.substring(0,patharr.length-1)
	  data.field.namearr = namearr.substring(0,namearr.length-1)
	  data.field.title = $('#title').val()
      data.field.year = $('#year').val()
      data.field.kanwu =  $('#kanwu').val()
      data.field.zuozhe = $('#zuozhe').val()
	  data.field.danwei = $('#danwei').val()
      data.field.belongsto = $('#belongsto option:selected').val()
	  data.field.belongstoid = $('#belongsto option:selected').attr('belongstoid')
	  data.field.belongsto1 = $('#belongsto option:selected').attr('belongsto1')
	  if($('#fmpic').attr('src')){
	  	console.log('ddddd---------------------------',$('#demo1').attr('src'))
	  	data.field.fujianPath = $('#fmpic').attr('src')//.slice(8)//去掉
	  }else{
		  layer.msg('请上传封面图')
		  return false
	  }

	  console.log('提交数据',data.field)
     //return false
	  $.ajax({
          //本地与服务器
        url:'<%=base_url%>cglradd',
	  	type:'POST',
	  	data:data.field,
	  	dataType : "json",
	  	success:function(result){
	  		if(result.code == 0){
	  			console.log('update success')
	  			//墨绿深蓝风
				let frameindex = layer.alert('保存成功', {
				  skin: 'layui-layer-molv' //样式类名
				  ,closeBtn: 0
				}, function(){
					parent.CloseCurrentTab()
					layer.close(frameindex);///关闭当前
					
					let index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
						parent.layer.close(index); 
						console.log('father -----',index)
				});	  			
	  		}
	  	},
	  	error:function(msg){
	  		console.log('ajax error msg',msg)
	  	}
	  })
	});
})
})

</script>
</body>
</html>