<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>College of Computer Science and Software Engineering, SZU</title>
  <link rel="stylesheet" href="../../stylesheets/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../stylesheets/css_en/user/user.css" />
<style>
  .mytit{font-family: Microsoft YaHei;}
</style>
</head>

<body class="user">
    <div class="header">
        <div class="head-cont">
            <div class="head-left">
                <a href="/" class="home-img">
                    <img src="../../image/common/logo_school.svg" class="logo_school" />
                    <img src="../../image/common/logo_collage.svg" class="logo_collage" />
                </a>
                <div class="head-txt">
                    <div class="name b">深圳大学计算机与软件学院</div>
                    <div class="small">College of Computer Science and Software Engineering, SZU</div>
                </div>
            </div>
            <div class="head-right">
                <div class="pc-con">
                    <div class="head-nav1">
                        <a class="lang" href=""  id="changeL">
                            <img class="lang_icon" src="../../image/common/lang-icon.png" />
                            CN
                        </a>
                    </div>
                    <div class="head-nav2">
                        <div class="nav">
                            <a href="../../">Home</a>
                        </div>
                        <div class="nav active">
                            <a href="../../pages/university/index">About</a>
                            <div class="nav-area">
                                <div class="nav-area-row tc fl-1">
                                    <a href="../../pages/university/index" class="active">General Information</a>
                                    <a href="../../pages/university/leader">Current Leaders</a>
                                </div>
                            </div>
                        </div>
                        <div class="nav">
                            <a href="../../pages/organization/index">Organization</a>
                            <div class="nav-area w600">
                              <div class="nav-area-row p40">
                                  <a href="http://nhpcc.szu.edu.cn/">National High Performance Computing Center (NHPCC) at Shenzhen</a>
                                  <a href="http://bigdata.szu.edu.cn/">Big Data Institute</a>
                                  <a href="http://futuremedia.szu.edu.cn/">Research Institute for Future Media Computing</a>
                                  <a href="http://security.szu.edu.cn/">Research Institute of Network and Information Security</a>
                                  <a href="http://cv.szu.edu.cn/">Institute of Computer Vision</a>
                                  <a href="http://itsi.szu.edu.cn/">Research Institute of Intelligence Technology and System Integration</a>
                                  <a href="http://www.futurenet.ac.cn/">The IoT Research Center</a>
                                  <a href="https://vcc.tech/">Visual Computing Research Center (VCC)</a>
                              </div>
                              <div class="nav-area-row p30">
                                  <a href="../../pages/organization/index">Departments</a>
                                  <a href="https://bdsc.szu.edu.cn">National Laboratory</a>
                                  <a href="http://csse.szu.edu.cn/cpct">National Teaching Centers</a>
                                  <a href="../../pages/organization/periodical">IJMLC Office</a>
                              </div>
                          </div>
                        </div>
                        <div class="nav">
                            <a href="../../pages/teacherTeam/index">People</a>
                            <div class="nav-area w150">
                                <div class="nav-area-row tc fl-1">
                                  <a href="../../pages/teacherTeam/index">Outstanding Talent</a>
                                  <a href="../../pages/teacherTeam/index">Professor/Researcher</a>
                                  <a href="../../pages/teacherTeam/index">Associate Professor/Associate Researcher</a>
                                  <a href="../../pages/teacherTeam/index">Assistant Professor</a>
                                  <a href="../../pages/teacherTeam/index">Lecturer</a>
                                  <a href="../../pages/teacherTeam/index">Postdoctoral Researcher</a>
                                  <a href="../../pages/teacherTeam/index">Research/Admin Assistant</a>
                                </div>
                            </div>
                        </div>
                        <div class="nav">
                            <a href="../../pages/research/index">Research</a>
                        </div>
                        <div class="nav">
                          <a href="../../pages/globalCooperation/index">GLobal</a>
                          <div class="nav-area">
                              <div class="nav-area-row tc fl-1">
                                <a href="../../pages/globalCooperation/partner">Partner</a>
                                <a href="../../pages/globalCooperation/jointTraining">Joint Program</a>
                                <a href="../../pages/globalCooperation/index">International Platform</a>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="mobile-con">
                    <a href="javascript:void(0)" class="nav-btn"></a>
                </div>
            </div>
        </div>
        <div class="nav_site mobile-nav" style="display: none;">
            <ul class="mobile_navs">
              <li>
                <a href="../../index">Home</a>
              </li>
              <li class="first">
                  <a href="../../pages/university/index">About</a>
                  <i></i>
                  <ol>
                      <li><a href="../../pages/university/index">General Information</a></li>
                      <li><a href="../../pages/university/leader">Current Leaders</a></li>
                  </ol>
              </li>
              <!--1-->
              <li>
                  <a href="../../pages/organization/index">Organization</a><i></i>
                  <ol>
                    <li><a href="http://nhpcc.szu.edu.cn/">National High Performance Computing Center (NHPCC) at Shenzhen</a></li>
                    <li><a href="http://bigdata.szu.edu.cn/">Big Data Institute</a></li>
                    <li><a href="http://futuremedia.szu.edu.cn/">Research Institute for Future Media Computing</a></li>
                    <li><a href="http://security.szu.edu.cn/">Research Institute of Network and Information Security</a></li>
                    <li><a href="http://cv.szu.edu.cn/">Institute of Computer Vision</a></li>
                    <li><a href="http://itsi.szu.edu.cn/">Research Institute of Intelligence Technology and System Integration</a></li>
                    <li><a href="http://www.futurenet.ac.cn/">The IoT Research Center</a></li>
                    <li><a href="https://vcc.tech/">Visual Computing Research Center (VCC)</a></li>
                    <li><a href="../../pages/organization/index">Departments</a></li>
                    <li><a href="https://bdsc.szu.edu.cn">National Laboratory</a></li>
                    <li><a href="http://csse.szu.edu.cn/cpct">National Teaching Centers</a></li>
                    <li><a href="../../pages/organization/periodical">IJMLC Office</a></li>
                  </ol>
              </li>
              <!--2-->
              <li>
                  <a href="../../pages/teacherTeam/index">People</a><i></i>
                  <ol>
                    <li><a href="../../pages/teacherTeam/index">Outstanding Talent</a></li>
                    <li><a href="../../pages/teacherTeam/index">Professor/Researcher</a></li>
                    <li><a href="../../pages/teacherTeam/index">Associate Professor/Associate Researcher</a></li>
                    <li><a href="../../pages/teacherTeam/index">Assistant Professor</a></li>
                    <li><a href="../../pages/teacherTeam/index">Lecturer</a></li>
                    <li><a href="../../pages/teacherTeam/index">Postdoctoral Researcher</a></li>
                    <li><a href="../../pages/teacherTeam/index">Research/Admin Assistant</a></li>
                  </ol>
              </li>
              <!--3-->
              <li>
                  <a href="../../pages/research/index">Research</a><i></i>
                  <ol>
                      <li><a href="">2021</a></li>
                      <li><a href="">2020</a></li>
                      <li><a href="">2019</a></li>
                      <li><a href="">2018</a></li>
                      <li><a href="">2017</a></li>
                      <li><a href="">2016</a></li>
                      <li><a href="">Before</a></li>
                      <li><a href="">National High Performance Computing Center</a></li>
                      <li><a href="">Big Data Institute</a></li>
                      <li><a href="">Research Institute for Future Media Computing</a></li>
                      <li><a href="">Research Institute of Network and Information Security</a></li>
                      <li><a href="">Institute of Computer Vision</a></li>
                      <li><a href="">Research Institute of IntelligenceTechnology and System Integra</a></li>
                      <li><a href="">The IoT Research Center</a></li>
                      <li><a href="">Visual Computing Research Center</a></li>
                  </ol>
                </li>
                <!--5-->
                <li>
                    <a href="pages/globalCooperation/index">GLobal</a><i></i>
                    <ol>
                      <li><a href="pages/globalCooperation/partner">Partner</a></li>
                      <li><a href="pages/globalCooperation/jointTraining">Joint Program</a></li>
                      <li><a href="pages/globalCooperation/index">International Platform</a></li>
                    </ol>
                </li>
            </ul>
            <div class="action">
                <ul>
                    <li class="calendar"><a href="pages/user/index">Homepage</a></li>
                </ul>
            </div>
        </div>
      </div>

  <div class="banner">
    <img src="../../image/user_image/banner.png" class="b_bg lazy_img" />
	<img src="../../image/user_image/bannerText.png" class="b_txt lazy_img" />
  </div>
  <div class="contain">
    <div class="contain-area clearfix">
        <div class="cont">
            <div class="area">
                <div class="area-left">
                    <div class="area-list">
                        <div class="pic-area">
                            <img class="img img1" src="../../image/user_image/vector.png" />
                            <img class="img img3" src="<%=data.avatar%>" style="" />
                            <img class="img img4" src="../../image/user_image/img_left.png" />
                        </div>
                        <div class="details c_333">
                            <div class="tit c_cca84d b"><%=data.userName1%></div>
                            <p class="p1 c_cca84d"><%=data.zhiwu1%> <%=data.zhicheng1%></p>
                            <p class="p2 c_cca84d"><%=data.suoxi1%></p>
                            <p><%=data.phone%></p>
                            <p><%=data.email%></p>
                        </div>
                    </div>
                </div>
                <div class="area-right">
                    <div class="area-tit c_cca84d bb"><%=data.userName1%></div>
                    <div class="area-txt">
                        <%-data.introEN-%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>

  <div class="footer">
    <div class="pc_footer">
        <div class="foot_cont">
            <div class="foot-top clearfix">
                <div class="foot-row">
                    <div class="tit b">LINKS</div>
                    <ul class="p-foot-list foot-list">
                        <li>
                            <a href="">
                                <img class="foot_img foot_img1" src="../../image/common/logo_school.png" />
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img class="foot_img foot_img2" src="../../image/common/BD.png" />
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="b txt">省实验室</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="b txt">省实验中心</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img class="foot_img foot_img3" src="../../image/common/tencent-logo.png" />
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img class="foot_img foot_img4" src="../../image/common/huawei-logo.png" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="foot-row">
                    <div class="tit b">CONTACT US</div>
                    <ul class="foot-info">
                        <li>
                            <img class="icon_img" src="../../image/common/ress-icon.png" />
                            <div class="txt-right">
                                <div class="txt b">ADDRESS</div>
                                <div class="txt1">
                                    Zhiteng Building, Canghai Campus of Shenzhen University,
                                    Nanshan District, Shenzhen, Guangdong Province,
                                    <br>China 518060
                                </div>
                            </div>
                        </li>
                        <li>
                            <img class="icon_img" src="../../image/common/phone-icon.png" />
                            <div class="txt-right">
                                <div class="txt b">Tel & FAX</div>
                                <div class="txt1">+86 0755 26534078</div>
                            </div>
                        </li>
                        <li>
                            <img class="icon_img" src="../../image/common/email-icon.png" />
                            <div class="txt-right">
                                <div class="txt b">E-mail</div>
                                <div class="txt1">csse@szu.edu.cn</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="foot-row">
                    <div class="tit b">SUBSCRIPTION</div>
                    <ul class="foot-code">
                        <li>
                            <div class="txt b">CSSE</div>
                            <img class="code_img lazy_img" src="../../image/common/csse.png" />
                            <div class="txt">计软公众号</div>
                        </li>
                        <li>
                            <div class="txt b">Party-masses</div>
                            <img class="code_img lazy_img" src="../../image/common/party-messes.png" />
                            <div class="txt">党群公众号</div>
                        </li>
                        <li>
                            <div class="txt b">SZU</div>
                            <img class="code_img lazy_img" src="../../image/common/szu.png" />
                            <div class="txt">深圳大学</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="foot-bot line">
                粤ICP备11018045号<span class="txt"><img class="ga_img" src="../../image/common/ga_img.png" />粤公网安备
                    ***************号</span><span class="location">Copyright © 2021 College of Computer Science and
                    Software Engineering, SZU</span>
                <span class="to_top"><i></i>TOP</span>
            </div>
        </div>
    </div>
    <div class="footer_wrap"></div>
    <img src="../../image/common/bot.png" class="bot_img p-bg" />
    <img src="../../image/mobile/m-bot-bg.png" class="bot_img m-bg" />
  </div>

  <script src="../../javascripts/js/jquery.min.js"></script>
  <script src="../../javascripts/js/jquery.lazyload.min.js"></script>
  <script src="../../javascripts/js/common.js"></script>

  <script src="../../javascripts/js/brcheck.js"></script>
  <script>
    $(document).ready(function () {
        $('#changeL').click(function(){
            console.log('change to en')
            $.get('/csse/setLanguage', {
                language:'1'
            }, function(data){
                if(data.success){
                //return 1
                return window.location.reload();
                }
            }, 'json');
        })
    })
  </script>
</body>

</html>