<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>深圳大学计算机与软件学院</title>
  <link rel="stylesheet" href="../../stylesheets/css/common.css">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/css/recruitment_css/recruitment.css" />
	<script src="../../javascripts/js/jquery.min.js"></script>
</head>
<body class="recruitment">
<%if(L=='1'){%>
	<%include ../../headcom.ejs%>
<%}%>
<%if(L!='1'){%>
	<%include ../../headcom.ejs%>
<%}%>

  <div class="banner">
    <img src="../../image/recruitment_image/banner.png" class="b_bg lazy_img pimg" />
    <img src="../../image/recruitment_image/m-banner.png" class="b_bg lazy_img mimg" />
  </div>
  <div class="contain">
    <div class="contain-area clearfix">
      <div class="info">
        <div class="r-list clearfix">
          <div class="r-row active">
            <a href="#">
              <img src="../../image/recruitment_image/img1.png" class="img" />
              <span class="txt">本科生招生</span>
              <div class="img-mask"></div>
              <img class="icon" src="../../image/recruitment_image/icon.png">
            </a>
          </div>
          <div class="r-row">
            <a href="master">
              <img src="../../image/recruitment_image/img2.png" class="img" />
              <span class="txt">硕士生招生</span>
              <div class="img-mask"></div>
              <img class="icon" src="../../image/recruitment_image/icon.png">
            </a>
          </div>
          <div class="r-row">
            <a href="doctor">
              <img src="../../image/recruitment_image/img3.png" class="img" />
              <span class="txt">博士生招生</span>
              <div class="img-mask"></div>
              <img class="icon" src="../../image/recruitment_image/icon.png">
            </a>
          </div>
          <div class="r-row">
            <a href="">
              <img src="../../image/recruitment_image/img4.png" class="img" />
              <span class="txt">成考招生</span>
              <div class="img-mask"></div>
              <img class="icon" src="../../image/recruitment_image/icon.png">
            </a>
          </div>
          <div class="r-row">
            <a href="">
              <img src="../../image/recruitment_image/img5.png" class="img" />
              <span class="txt">自考招生</span>
              <div class="img-mask"></div>
              <img class="icon" src="../../image/recruitment_image/icon.png">
            </a>
          </div>
          <div class="r-row">
            <a href="talents">
              <img src="../../image/recruitment_image/img6.png" class="img" />
              <span class="txt">人才招聘</span>
              <div class="img-mask"></div>
              <img class="icon" src="../../image/recruitment_image/icon.png">
            </a>
          </div>
        </div>
      </div>
      <div class="bread-crumbs">当前位置：首页 > 招生招聘 > 本科招生</div>
      <div class="nav-area">
        <div class="nav-row">
          <div class="nav-tit c_cca84d b">专业介绍</div>
          <div class="nav-cont">
            <span class="btn active">计算机科学与技术</span><span class="btn">软件工程</span>
          </div>
        </div>
        <div class="nav-row">
          <div class="nav-tit c_cca84d b">相关信息</div>
          <div class="nav-cont">
            <span class="btn">学费与住宿</span><span class="btn">奖学金</span><span class="btn">校园环境</span><span
              class="btn">就业情况</span><span class="btn">联系方式</span>
          </div>
        </div>
      </div>
      <div class="cont">
        <div class="area">
          <div class="area-left">
            <div class=" area-nav">
              <div class="tit b">专业介绍</div>
              <ul>
                <li class="li_zhuanye"><a href="index?z=1">计算机科学与技术</a></li>
                <li class="li_zhuanye"><a href="index?z=2">软件工程</a></li>
              </ul>
                <script type="text/javascript"> 
                  $('.li_zhuanye').each(function(index,obj){
                    if('<%=zhuanye%>' == $(obj).text()){
                    console.log('找到page,点中状态',$(obj).text())
                    $(obj).addClass('active')
                    }
                  })
                  </script>
            </div>
            <div class=" area-nav">
              <div class="tit b">相关信息</div>
              <ul>
                <li class="li_info"><a href="index?z=<%=z%>&info=1">学费与住宿</a></li>
                <li class="li_info"><a href="index?z=<%=z%>&info=2">奖学金</a></li>
                <li class="li_info"><a href="index?z=<%=z%>&info=3">就业情况</a></li>
                <li class="li_info"><a href="index?z=<%=z%>&info=4">校园环境</a></li>
                <li class="li_info"><a href="index?z=<%=z%>&info=5">联系方式</a></li>
              </ul>
            </div>
          </div>
          <div class="area-right">
            <div class="area-tit c_cca84d bb"><%=data.zhuanye%></div>
            <div class="area-txt">
              <%if(!info){%>
                <%-data.neirong-%>
              <%}else{%>
                <%-data.info-%>
              <%}%>
            </div>
              <script type="text/javascript"> 
              $('.li_info').click(function(index,obj){
                console.log('点击----',$(obj).text())
                $(obj).addClass('active')
              })
              $('.li_info').each(function(index,obj){
                    if('<%=info%>' == $(obj).text()){
                    console.log('找到page,点中状态',$(obj).text())
                    $(obj).addClass('active')
                    }
                  })
              </script>
              <%if(namearr){%>
              <div class="mess-down">
                <div class="tit c_cca84d b">资料下载</div>
                <%namearr.forEach(function(item,index){%>
                <a class="mess" href="<%=patharr[index]%>" download="">
                  <span class="ball">● </span>
                  <%=item.slice(11)%>
                </a>
                <%})%>
              </div>
              <%}%>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

	<%if(L=='1'){%>
		<%include ../../footercom.ejs%>
	<%}%>
	<%if(L!='1'){%>
		<%include ../../footercom.ejs%>
	<%}%>
  <script src="../../javascripts/js/jquery.min.js"></script>
  <script src="../../javascripts/js/jquery.lazyload.min.js"></script>
  <script src="../../javascripts/js/common.js"></script>
  
  <script src="../../javascripts/js/brcheck.js"></script>
  
  </body>
  </html>