<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>教师队伍</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../stylesheets/public.css" media="all" />
</head>
<body class="childrenBody">
	<blockquote class="layui-elem-quote"><div class="layui-elem-quote-title">当前位置：科研成果 > 成果录入</div> <button class="layui-btn" data-type="getCheckData" style="float: right;margin-top: -8px;margin-left: 10px;" id="szgk">师资概况</button>
		<button class="layui-btn" data-type="getCheckData" style="float: right;margin-top: -8px;" id="addkyxm"><i class="layui-icon">&#xe654;</i>新增人员</button>
  </blockquote>

	<div class="demoTable layui-form">
	  <div class="layui-inline">
	    <input class="layui-input" name="userName" id="userName" autocomplete="off" placeholder="姓名">
	  </div>
	  <div class="layui-input-inline">
          <select name="power" id="power" lay-filter="power" lay-verify="required">
          		<option value="">用户角色</option>
		        <option value="管理员">管理员</option>
		        <option value="教职工">教职工</option>
		              <!-- 动态获取 -->
		   </select>
       </div>
       <div class="layui-inline">
	    	<select name="jstype" id="jstype" lay-filter="jstype" >
          		<option value="">人员类别</option>
		        <option value="1" peopleid="1">杰出人才</option>
		        <option value="2" peopleid="2">教授</option>
		        <option value="3" peopleid="3">副教授</option>
				<option value="4" peopleid="4">讲师</option>
		        <option value="5" peopleid="5">助理教授</option>
		        <option value="6" peopleid="6">专职研究人员</option>
		        <option value="7" peopleid="7">博士后</option>
				<option value="8" peopleid="8">技术/管理人员</option>
				<option value="9" peopleid="9">研究/管理助理</option>
		              <!-- 动态获取 -->
		   </select>
	  </div>
	  <button class="layui-btn rc-search-btn" data-type="reload" id="kyxm_btn" ><i class="layui-icon">&#xe615;</i>搜索</button>
	  <!-- <button class="layui-btn btnfloat" id="ptglsort" style="float: right;" >人员排序(教师系列)</button> -->
	 	</div>

	<table id="jsdw_table" lay-filter="jsdw_table" style="width: 100%;"></table>

<script type="text/javascript" src="../manage/js/thirdpart.js"></script>
<script type="text/javascript">
layui.use(['jquery','table','form'], function(){ 
    let $ = layui.$ //重点处
    let table = layui.table,
    	form = layui.form
	console.log('--------','<%=info.typeName%>')
	$('#jstype').val('<%=info.typeName%>')
    form.render('select')
    table.render({
	    elem: '#jsdw_table'
	    ,id:'table_jsdw'//重载需要
	    ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
	    ,url: '<%=base_url%>jsdw_data' //数据接口
	    ,page: true //开启分页
        ,limits: [30,50,70]
        ,limit: 30 //每页默认显示的数量
	    ,cols: [[ //表头
	      {type:'numbers', title: '序号',width:90,align:'center',sort:true}
	      ,{field: 'userName', title: '姓名',width:120,align:'center',sort:true}
		  ,{field: 'suoxi', title: '所/系',align:'center',sort:true}
		  ,{field: 'zhicheng', title: '职称',width:140,align:'center',sort:true}
	      ,{field: 'account', title: '登录账号', width:140,align:'center',sort:true}
	      ,{field: 'power', title: '角色',width:140, align:'center',sort:true}
	      ,{title:'操作', align:'center',width:450, toolbar: '#yjfxbar'} //这里的toolbar值是模板元素的选择器
	    ]]
	  });
	
    //数据重载
    $('#kyxm_btn').on('click', function(){
    	console.log('power',$('#power option:selected').val())
		console.log('peopleid',$('#jstype option:selected').val())
			table.reload('table_jsdw', {
				where: {
					userName: $('#userName').val(),
					power: $('#power option:selected').val(),
					peopleid: $('#jstype option:selected').attr('peopleid')
				}
			});
    })
	$(function(){
		console.log('done get data')
		table.reload('table_jsdw', {
				where: {
					userName: $('#userName').val(),
					power: $('#power option:selected').val(),
					peopleid: $('#jstype option:selected').attr('peopleid')
				}
			});
	})
    
    $('#addkyxm').on('click', function(){
    	console.log('新增账号')
    	let index = layui.layer.open({
            title : "新增账号",
            type : 2,
			area: ['80%', '400px'],
            content : "jsdwadd",
            success : function(layero, index){
            },
			end:function(){
                table.reload('table_jsdw', {
					where: {
						userName: $('#userName').val(),
						power: $('#power option:selected').val(),
						peopleid: $('#jstype option:selected').attr('peopleid')
					}
				});
            }
        })
        console.log('index',index)
        
    })
	$('#szgk').on('click', function(){
    	//do somehing
        let index = layui.layer.open({
					title : "师资概况",
					type : 2,
					area: ['80%', '350px'],
					fixed: true, //不固定
					content : "szgk",
					success : function(layero, index){
					}
				})
    })
    
    //监听工具条
	table.on('tool(jsdw_table)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
	  var data = obj.data; //获得当前行数据
	  var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
	  var tr = obj.tr; //获得当前行 tr 的DOM对象
	  console.log('data.id-----',data.id)
	  if(layEvent === 'edit'){ //查看
		//AddTab('编辑'+$("title").text(),'jsdw_table'+ obj.data.id,"userinfo?id="+data.id)
	    //do somehing
	    let index = layui.layer.open({
            title : "编辑个人信息",
            type : 2,
            content : "userinfo?id="+data.id,
            success : function(layero, index){
            },
			end:function(){
                table.reload('table_jsdw', {
					where: {
						userName: $('#userName').val(),
						power: $('#power option:selected').val(),
						peopleid: $('#jstype option:selected').attr('peopleid')
					}
				});
            }
        })
        console.log('index-------',index)
        layui.layer.full(index);
        //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
        $(window).on("resize",function(){
            layui.layer.full(index);
        })
	  } else if(layEvent === 'del'){ //删除
		console.log('删除-----',data)
	    layer.confirm('确定删除吗?',{
			closeBtn: 0}
			,function(index){
	      		obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
	      		layer.close(index);
	      		//向服务端发送删除指令
				$.ajax({
					//本地与服务器
						url:'<%=base_url%>jsdwdel',
						type:'POST',
						data:data,
						dataType : "json",
						success:function(result){
							if(result.code == 0){
								console.log('del success')	
								layer.msg('已删除')		
							}
						},
						error:function(msg){
							console.log('ajax delete error msg',msg)
						}
					})
	   		 });
	  } 
	  else if(layEvent === 'editzh'){
		//do somehing
	    var index = layui.layer.open({
            title : "修改账号",
            type : 2,
			area: ['80%', '400px'],
            content : "jsdwadd?id="+data.id,
            success : function(layero, index){
            }
        })
        console.log('index',index)
        // layui.layer.full(index);
        // //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
        // $(window).on("resize",function(){
        //     layui.layer.full(index);
        // })
	  } else if(layEvent === 'dis_menu'){
		//do somehing
	    var index = layui.layer.open({
            title : "分配菜单",
            type : 2,
			area: ['500px', '400px'],
            content : "dis_menu?id="+data.id,
            success : function(layero, index){
            }
        })
        console.log('index',index)
        
	  }
	  else if(layEvent === 'per_dis'){
		console.log('per_dis')
	  	console.log('data------',data)
	  	if($(this).text()=='不显示'){
	  		console.log('不显示')
	  		data.display=0
	  		let _this = $(this)
	  		$.ajax({
                //本地与服务器
			  	url:'<%=base_url%>changejsdwdis',
                	type:'POST',
			  	data:data,
			  	dataType : "json",
			  	success:function(result){
			  		if(result.code == 0){
			  			console.log('hide success',_this)
			  			_this.text('显示')	
                          layer.msg('已设置不显示此人')	
			  		}
			  	},
			  	error:function(msg){
			  		console.log('ajax hide error msg',msg)
			  	}
			})
	  	}else{
	  		console.log('显示')
	  		data.display=1
	  		let _this = $(this)
	  		$.ajax({
			  	//本地与服务器
                url:'<%=base_url%>changejsdwdis',
			  	type:'POST',
			  	data:data,
			  	dataType : "json",
			  	success:function(result){
			  		if(result.code == 0){
			  			console.log('view success',_this)		
			  			_this.text('不显示')	
                          layer.msg('已设置显示此人')
			  		}
			  	},
			  	error:function(msg){
			  		console.log('ajax view error msg',msg)
			  	}
			})
	  	}
	  	return false
	  }
	});
});
</script>
<script type="text/html" id="yjfxbar">
		<a class="layui-btn layui-btn-xs" lay-event="edit" title="编辑个人信息"><i class="layui-icon">&#xe642;</i></a>
		<a class="layui-btn layui-btn-xs" lay-event="editzh" title="账号设置"><i class="layui-icon">&#xe612;</i></a>
		
		{{# if(d.display == 1){ }}
			<a class="layui-btn layui-btn-xs" lay-event="per_dis" value='0' title="不显示">不显示</a>
		{{# }else{ }}
			<a class="layui-btn layui-btn-xs" lay-event="per_dis" value='1' title="显示">显示</a>
		{{# } }}
		{{# if(d.power == '管理员' && '<%=username%>' == '陈荣鑫'){ }}
			<a class="layui-btn layui-btn-xs" lay-event="dis_menu">分配菜单</a>
		{{# } }}	
		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" title="删除"><i class="layui-icon">&#xe640;</i></a>
</script>

</body>
</html>