<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>个人资料</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../stylesheets/public.css" media="all" />
	<style type="text/css">
		.tdstyle{
			/* width:120px; */
			background-color: #009688;
			color:#fff;
			text-align: center;
		}
		.btnfloat{
			float: right;
		}
		.w-e-text-container{
	    	height: 150px !important;
	    }
	    .layui-unselect{
	    	
	    }
		.handle {
			width: 100%;
            position: absolute;
            background-color: black;
            color: white;
            filter: alpha(Opacity=80);
            -moz-opacity: 0.5;
            opacity: 0.5;
            /* text-align: right; */
            display: none;
			top: 0;
			margin-left: 0px;
        }
        .handle i {
			margin: 0 auto;
    		display: block;
			text-align: center;
        }
         .handle i:hover {
            cursor: pointer;
        }
        .file-iteme {
			position: relative;
			max-width: 150px;
			margin: 0 auto;
        }
		#uploadarea{
			text-align: center;
		}
		@media screen and (max-width: 376px) {
			.tdform {
				width: 100px;;
			}
		}
	</style>
</head>

<body class="childrenBody">
	<form class="layui-form layui-row layui-col-space10">
		<div class="layui-col-md12 layui-col-xs12">
			
			<div class="layui-form-item">
				<div id="mycontainer" class="file-iteme">
					
					<img alt="头像宽高比1:1" id="userimg" src="<%=user.avatar%>" style="width:auto;height:auto;max-width:150px;max-height:100%;margin:5px;position: relative;margin: 0;">
					<div class="handle" ><i class="layui-icon layui-icon-delete"></i></div>
				</div>
				
				<div id="uploadarea">
					<div class="layui-upload-list">
						<p id="demoText"></p>
					</div>
				</div>
			</div>



			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">姓名</label>
					<div class="form-item-inline" >
						<input type="text" id="userName" class="layui-input"  value="<%=user.userName%>">
				    </div>
				    <label class="layui-form-label" >Name</label>
				    <div class="form-item-inline" >
						<input type="text" id="userName1" class="layui-input" value="<%=user.userName1%>">
				    </div>
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">性别</label>
					<div class="form-item-inline" >
						<select name="sex" lay-filter="sex" id="sex">
							<option value="男">男</option>
							<option value="女">女</option>
						</select>
				    </div>
				    <label class="layui-form-label" >Gender</label>
				    <div class="form-item-inline" >
						<select name="sex1" lay-filter="sex1" id="sex1">
							<option value="Male">Male</option>
							<option value="Female">Female</option>
						</select>
				    </div>
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">职称</label>
					<div class="form-item-inline" >
						<select name="zhicheng" lay-filter="zhicheng" id="zhicheng">
							<option value="杰出人才" peopleid="1">杰出人才</option>
							<option value="教授" peopleid="2">教授</option>
							<option value="副教授" peopleid="3">副教授</option>
							<option value="讲师" peopleid="4">讲师</option>
							<option value="助理教授" peopleid="5">助理教授</option>
							<option value="研究员" peopleid="6">研究员</option>
							<option value="副研究员" peopleid="10">副研究员</option>
							<!-- <option value="研究员" peopleid="6">专职研究人员</option> -->
							<option value="博士后" peopleid="7">博士后</option>
							<option value="技术/管理人员" peopleid="8">技术/管理人员</option>
							<option value="研究/辅助管理" peopleid="9">研究/辅助管理</option>
							<option value="其它" peopleid="11">其它</option>
						</select>
				    </div>
				    <label class="layui-form-label" >Title</label>
				    <div class="form-item-inline" >
						<select name="zhicheng1" lay-filter="zhicheng1" id="zhicheng1">
							<option value="Outstanding talent">Outstanding talent</option>
							<option value="Professor">Professor</option>
							<option value="Associate Professor">Associate Professor</option>
							<option value="Lecturer">Lecturer</option>
							<option value="Assistant Professor">Assistant Professor</option>
							<option value="Researcher">Researcher</option>
							<option value="Associate Researcher">Associate Researcher</option>
							<option value="Postdoctoral Researcher">Postdoctoral Researcher</option>
							<option value="Technical / management personnel">Technical/management personnel</option>
							<option value="Assistant">Assistant</option>
							<option value="other">other</option>
						</select>
				    </div>
				</div>
			</div>
			
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">荣誉级别</label>
					<div class="form-item-inline" >
						<select name="rongyujibie" lay-filter="rongyujibie" id="rongyujibie">
							<option value="" >请选择</option>
							<option value="1" jibiename="院士">院士</option>
							<option value="2" jibiename="国家级人才">国家级人才</option>
							<option value="3" jibiename="国家青年人才">国家青年人才</option>
							<option value="4" jibiename="国家其他">国家其他</option>
							<option value="5" jibiename="国际荣耀">国际荣耀</option>
							<option value="6" jibiename="广东省杰出人才">广东省杰出人才</option>
							<option value="7" jibiename="广东省专家级">广东省专家级</option>
							<option value="8" jibiename="广东省青年级">广东省青年级</option>
						</select>
				    </div>
				    <label class="layui-form-label" >荣誉</label>
				    <div class="form-item-inline" >
						<input type="text" id="rongyuname" class="layui-input" value="<%=user.rongyuname%>">
				    </div>
				</div>
			</div>
			<%if(username=='刘晔'||username=='王佳岱'||username=='陈荣鑫'){%>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label" >Honor</label>
						<div class="form-item-inline" >
							<input type="text" id="rongyuname1" class="layui-input" value="<%=user.rongyuname1%>">
						</div>
						<label class="layui-form-label">业务口</label>
						<div class="form-item-inline" >
							<select name="yewukou" lay-filter="yewukou" id="yewukou">
								<option value="" >请选择</option>
								<option value="1" yewukouname="党务工作" yewukouname1=''>党务工作</option>
								<option value="2" yewukouname="教学业务" yewukouname1=''>教学业务</option>
								<option value="3" yewukouname="实验教学中心" yewukouname1=''>实验教学中心</option>
								<option value="4" yewukouname="其他业务" yewukouname1=''>其他业务</option>
								<option value="5" yewukouname="辅导员" yewukouname1=''>辅导员</option>
							</select>
				    	</div>
					</div>
				</div>
			<%}%>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">所/中心</label>
					<div class="form-item-inline" >
						<select name="suoxi" lay-filter="suoxi" id="suoxi">
							<option value="院办管理/技术人员" suoxiid="10">院办管理/技术人员</option>
							<option value="高性能计算研究所" suoxiid="1">高性能计算研究所</option>
							<option value="大数据技术与应用研究所" suoxiid="2">大数据技术与应用研究所</option>
							<option value="未来媒体技术与计算研究所" suoxiid="3">未来媒体技术与计算研究所</option>
							<option value="网络与信息安全研究所" suoxiid="4">网络与信息安全研究所</option>
							<option value="计算机视觉研究所" suoxiid="5">计算机视觉研究所</option>
							<option value="智能技术与系统集成研究所" suoxiid="6">智能技术与系统集成研究所</option>
							<option value="物联网研究中心" suoxiid="7">物联网研究中心</option>
							<option value="可视计算研究中心" suoxiid="8">可视计算研究中心</option>
							<option value="教学系" suoxiid="9">教学系</option>
							<!-- 20211227新增 -->
							<option value="软件工程研究中心" suoxiid="11">软件工程研究中心</option>
							<option value="其它" peopleid="15">其它</option>
						</select>
				    </div>
				    <label class="layui-form-label" >Institutes</label>
				    <div class="form-item-inline" >
						<select name="suoxi1" lay-filter="suoxi1" id="suoxi1">
							<option value="Tech/Admin Staff" suoxiid="10">Tech/Admin Staff</option>
							<option value="National High Performance Computing Center at Shenzhen" suoxiid="1">National High Performance Computing Center at Shenzhen</option>
							<option value="Big Data Institute" suoxiid="2">Big Data Institute</option>
							<option value="Research Institute for Future Media Computing" suoxiid="3">Research Institute for Future Media Computing</option>
							<option value="Research Institute of Network and Information Security" suoxiid="4">Research Institute of Network and Information Security</option>
							<option value="Computer Vision Institute" suoxiid="5">Computer Vision Institute</option>
							<option value="Research Institute of Intelligence Technology and System Integration" suoxiid="6">Research Institute of Intelligence Technology and System Integration</option>
							<option value="Internet of things Research Center" suoxiid="7">Internet of things Research Center</option>
							<option value="Visual Computing Research Center (VCC)" suoxiid="8">Visual Computing Research Center (VCC)</option>
							<option value="Teaching Department" suoxiid="9">Teaching Department</option>
							<!-- 20211227新增 -->
							<option value="Software Engineering Research Center" suoxiid="11">Software Engineering Research Center</option>
							<option value="other" peopleid="15">other</option>
						</select>
				    </div>
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">职位</label>
					<div class="form-item-inline" >
						<input type="text" id="zhiwu" class="layui-input"  value="<%=user.zhiwu%>">
				    </div>
				    <label class="layui-form-label" >Position</label>
				    <div class="form-item-inline" >
						<input type="text" id="zhiwu1" class="layui-input"  value="<%=user.zhiwu1%>">
				    </div>
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">研究领域</label>
					<div class="form-item-inline" >
						<input type="text" id="yjly" class="layui-input"  value="<%=user.yjly%>">
				    </div>
				    <label class="layui-form-label" >Research Field</label>
				    <div class="form-item-inline" >
						<input type="text" id="yjly1" class="layui-input"  value="<%=user.yjly1%>">
				    </div>
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">教育背景</label>
					<div class="form-item-inline" >
						<textarea placeholder="教育背景" class="layui-textarea" id="jybj" ><%=user.jybj%></textarea>
				    </div>
				    <label class="layui-form-label" >Education</label>
				    <div class="form-item-inline" >
						<textarea placeholder="教育背景" class="layui-textarea" id="jybj" ><%=user.jybj%></textarea>
				    </div>
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">政治面貌</label>
					<div class="form-item-inline" >
						<select name="inDang" lay-filter="inDang" id="inDang">
							<option value=""></option>
							<option value="中共党员">中共党员</option>
							<option value="团员">团员</option>
							<option value="群众">群众</option>
						</select>
				    </div>
				    <label class="layui-form-label" >Political Status</label>
				    <div class="form-item-inline" >
						<select name="inDang1" lay-filter="inDang1" id="inDang1">
							<option value=""></option>
							<option value="Party Member">Party Member</option>
							<option value="League Member">League Member</option>
							<option value="The Masses">The Masses</option>
						</select>
				    </div>
				</div>
			</div>


			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">办公地址</label>
					<div class="form-item-inline" >
						<input type="text" id="AddressOffice" class="layui-input"  value="<%=user.AddressOffice%>">
				    </div>
				    <label class="layui-form-label" >Office Address</label>
				    <div class="form-item-inline" >
						<input type="text" id="AddressOffice1" class="layui-input"  value="<%=user.AddressOffice1%>">
				    </div>
				</div>
			</div>
			
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">个人主页</label>
					<div class="form-item-inline" >
						<input type="text" id="personalLink" class="layui-input"  value="<%=user.personalLink%>">
				    </div>
				</div>
			</div>
			
			<div class="layui-form-item">
				<label class="layui-form-label">个人介绍</label>
				<div class="layui-input-block" id="eintro_bk">
					<textarea id="introduceValue"  value="<%=user.intro%>" /><%=user.intro%></textarea>
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">(英文)个人介绍</label>
				<div class="layui-input-block" id="eintro_bk">
					<textarea id="eintroduceValue"  value="<%=user.intro1%>" /><%=user.intro1%></textarea>
				</div>
			</div>

			<div class="layui-form-item">
				<a class="layui-btn layui-btn-normal layui-btn-fluid" lay-filter="update" lay-submit><i class="layui-icon">&#xe609;</i>保存</a>
			</div>
		</div>
	</form>


  <script type="text/javascript" src="../manage/js/thirdpart.js"></script>
  <script type="text/javascript">
let introduceValue = "";
let eintroduceValue ="";
let ue1,ue2
let id = '<%=user.id%>'
layui.use(['jquery','layer','upload','form'], function(){ 
	
    let $ = layui.$ //重点处
    let layer = layui.layer,upload=layui.upload,form=layui.form
	//图片
	// $('#mycontainer > img').cropper({
	// 	aspectRatio: 16 / 9,
	// 	crop: function(data) {
	// 		// 出来裁切后的图片数据.
	// 	}
	// });
	$(document).on("mouseenter mouseleave", ".file-iteme", function(event){
            if(event.type === "mouseenter"){
                //鼠标悬浮
                $(this).children(".handle").fadeIn("fast");
            }else if(event.type === "mouseleave") {
                //鼠标离开
                $(this).children(".handle").hide();
            }
        });
	// 删除图片
    $(document).on("click", ".file-iteme .handle", function(event){
		layer.confirm('确定要删除图片吗', {
			btn: ['确定','取消'] //按钮
			}, function(){
				console.log('$(this).parent()-----',$(this).parent(),$(this).parent().parent())
				//$('#fmpic').parent().remove()
				$('#userimg').attr('src','')
				layer.msg('已删除', {icon: 1});
			}, function(){
				layer.msg('已取消', {
					time: 1000, 
				});
		});
    });
    $(function(){  
		//初始化select
		console.log('user id---','<%=user.id%>')
		
		$('#sex').val('<%=user.sex%>')
		$('#sex1').val('<%=user.sex1%>')
		$('#zhicheng').val('<%=user.zhicheng%>')
		$('#zhicheng1').val('<%=user.zhicheng1%>')
		$('#rongyujibie').val('<%=user.rongyujibie%>')
		$('#rongyujibie').val('<%=user.rongyujibie%>')
		$('#yewukou').val('<%=user.yewukouid%>')
		$('#zhiwu').val('<%=user.zhiwu%>')
		$('#zhiwu1').val('<%=user.zhiwu1%>')
		$('#yjly').val('<%=user.yjly%>')
		$('#yjly1').val('<%=user.yjly1%>')
		$('#suoxi').val('<%=user.suoxi%>')
		$('#suoxi1').val('<%=user.suoxi1%>')
		//20211230添加
		if('<%=username%>' != '王佳岱' && '<%=username%>' != '陈荣鑫' && '<%=username%>' != '刘晔' ){
			console.log('只有管理员能修改select')
			$("select[name=zhicheng]").attr("disabled", "disabled")
			$("select[name=zhicheng1]").attr("disabled", "disabled")
			$("select[name=suoxi]").attr("disabled", "disabled")
			$("select[name=suoxi1]").attr("disabled", "disabled")
			$("select[name=rongyujibie]").attr("disabled", "disabled")
			$("#rongyuname").attr("disabled", "disabled")
		}
		introduceValue = CKEDITOR.replace("introduceValue");
		eintroduceValue = CKEDITOR.replace("eintroduceValue");
		form.render('select')
		//监听下拉框
		form.on('select(sex)',function (data) {
			console.log('select sex',data)
			if(data.value == '男'){
				$("#sex1").find("option[value='Male']").attr("selected",true);
			}
			if(data.value == '女'){
				$("#sex1").find("option[value='Female']").attr("selected",true);
			}
			if(data.value == ''){
				$("#sex1").find("option[value='']").attr("selected",true);
			}
			form.render()
		})
		form.on('select(inDang)',function (data) {
			console.log('select inDang',data)
			if(data.value == '中共党员'){
				$("#inDang1").find("option[value='Party Member']").attr("selected",true);
			}
			if(data.value == '团员'){
				$("#inDang1").find("option[value='League Member']").attr("selected",true);
			}
			if(data.value == '群众'){
				$("#inDang1").find("option[value='The Masses']").attr("selected",true);
			}
			if(data.value == ''){
				$("#inDang1").find("option[value='']").attr("selected",true);
			}
			form.render()
		})
		
		//初始化上传按钮  
		//let uploadbtn = '<button type="button" class="layui-btn" id="uploadbtn">上传头像</button><button type="button" class="layui-btn" id="editbtn">编辑头像</button>'
		let uploadbtn = '<button type="button" class="layui-btn" id="uploadbtn">上传头像</button>'
		$('#uploadarea').append(uploadbtn)	
		InitImgCropping("uploadbtn","userimg",1/1,function(re){
			if(re.code == 0 ){
                $("#userimg").attr("data",re.fileName);
                $("#userimg").attr("src",""+re.fileName);
            }
		})
		$('#editbtn').click(function(){
			console.log(	$('#userimg').attr('src'))
			if(!$('#userimg').attr('src')){
				layui.layer.msg('请先上传图片')
				return
			}
			let index = layui.layer.open({
				title : "编辑头像",
				type : 2,
				area: ['40%', '65%'],
				content : "usertx?userid=<%=user.id%>&imgsrc="+	$('#userimg').attr('src'),
				success : function(layero, index){
				},
				end:function(){
					//layui.layer.closeAll()
					console.log('结束，更新',$('#userimg').attr('src'))
					let imgsrc = $('#userimg').attr('src')
					$('#userimg').attr('src',imgsrc+"?t="+Math.random())
				}
			})
		})
		/*let uploadInst  = upload.render({
		    elem: '#uploadbtn'
			,url: '<%=base_url%>userimgupload'
		    , accept: 'images'
		    ,size: 10240 //限制文件大小，单位 KB
		    ,before: function(obj){
		      //预读本地文件示例，不支持ie8
		      console.log('try......')
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
		    }
		    ,done: function(res){
		      //如果上传失败
		      if(res.errno != 0){
				layer.close(layer.msg());
		        return layer.msg('上传失败');
		      }else{
		      	console.log('userimg',res.data)
				  layer.close(layer.msg());
		      	$('#userimg').attr('src',''+res.data)
		      }
		      //上传成功
		    }
		    ,error: function(){
		      let demoText = $('#demoText');
		      demoText.html('<span style="color: #FF5722;">上传失败</span> ');
		    }
		  });*/
		  //form.render('select')
		form.render()
		/*ue1 = UE.getEditor('introduceeditor',{'initialFrameHeight':'200','initialFrameWidth':'100%'}),
			ue2 = UE.getEditor('eintroduceeditor',{'initialFrameHeight':'200','initialFrameWidth':'100%'}),
			//ue3 = UE.getEditor('workresumeueditor',{'initialFrameHeight':'200','initialFrameWidth':'100%'}),
			//ue4 = UE.getEditor('eworkresumeueditor',{'initialFrameHeight':'200','initialFrameWidth':'100%'})
		ue1.ready(function () {
	   		console.log('初始化introduce...')
	   		let htmlStr = $("#introduceValue").val();
	   		ue1.setContent(htmlStr,false)
	    });
		ue2.ready(function () {
	   		console.log('初始化eintroduce...')
	   		let htmlStr = $("#eintroduceValue").val();
	   		ue2.setContent(htmlStr,false)
	    })*/
    })
	form.on('submit(update)', function(data){
	  //更新
	  data.field.id = id
	  data.field.userName = $('#userName').val()
	  data.field.userName1 = $('#userName1').val()
	  data.field.intro = introduceValue.getData()
	  data.field.intro1 = eintroduceValue.getData()
	  data.field.sex =$('#sex option:selected').val()
	  data.field.sex1 =$('#sex1 option:selected').val()
	  //20211030
	  data.field.peopleid = $('#zhicheng option:selected').attr("peopleid");
	  data.field.suoxiid = $('#suoxi option:selected').attr("suoxiid");
	  data.field.zhicheng=$('#zhicheng option:selected').val()
	  data.field.zhicheng1=$('#zhicheng1 option:selected').val()
	  data.field.rongyujibie=$('#rongyujibie option:selected').val()
	  data.field.rongyujibiename=$('#rongyujibie option:selected').attr('jibiename')
	  data.field.yewukouid=parseInt($('#yewukou option:selected').val())
	  data.field.yewukouname=$('#yewukou option:selected').attr('yewukouname')
	  data.field.yewukouname1=$('#yewukou option:selected').attr('yewukouname1')
	  data.field.rongyuname = $('#rongyuname').val()
	  data.field.rongyuname1 = $('#rongyuname1').val()
	  data.field.phoneOffice=$('#phoneOffice').val()
	  data.field.email=$('#email').val()
	  data.field.personalLink=$('#personalLink').val()
	  data.field.AddressOffice=$('#AddressOffice').val()
	  data.field.AddressOffice1=$('#AddressOffice1').val()
	//   data.field.xuewei=$('#xuewei').val()
	//   data.field.xuewei1=$('#xuewei1').val()
	//   data.field.xueli=$('#xueli').val()
	//   data.field.xueli1=$('#xueli1').val()
	  data.field.avatar=($('#userimg').attr('src')).split('?')[0]
	  data.field.suoxi=$('#suoxi option:selected').val()
	  data.field.suoxi1=$('#suoxi1 option:selected').val()
	  data.field.jybj=$('#jybj').val()
	  data.field.jybj1=$('#jybj1').val()
	  data.field.zhiwu=$('#zhiwu').val()
	  data.field.zhiwu1=$('#zhiwu1').val()
	  data.field.yjly=$('#yjly').val()
	  data.field.yjly1=$('#yjly1').val()
	  console.log('update data field',data.field)
	  data.field.inDang=$('#inDang option:selected').val()
	  data.field.inDang1=$('#inDang1 option:selected').val()
	  //return false
	  $.ajax({
	  	//本地与服务器
		url:'<%=base_url%>userinfo',
	  	type:'POST',
	  	data:data.field,
	  	dataType : "json",
	  	success:function(result){
	  		if(result.code == 0){
	  			console.log('update success')
	  			//墨绿深蓝风
				let frameindex = layer.alert('更新成功', {
				  skin: 'layui-layer-molv' //样式类名
				  //,closeBtn: 0
				}, function(){
					layer.close(frameindex);
				});	  			
	  		}
	  	},
	  	error:function(msg){
	  		console.log('ajax error msg',msg)
	  	}
	  })
	});
});

</script>
</body>
</html>