<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>hightlight</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../stylesheets/public.css" media="all" />
</head>
<body class="childrenBody" >
	<form class="layui-form layui-row layui-col-space10">
		<div class="layui-col-md12 layui-col-xs12">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">软科</label>
					<div class="layui-input-inline" style="width: 400px;">
				      <input type="text" name="ruanke" lay-verify="required" autocomplete="off" class="layui-input" id="ruanke" value="<%=data.ruanke%>">
				    </div>
				    <label class="layui-form-label">U.S.News</label>
				    <div class="layui-input-inline" style="width: 400px;">
				      <input type="text" name="usnews"  autocomplete="off" class="layui-input" id="usnews" value="<%=data.usnews%>">
				    </div>
				</div>
			</div>
            <div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">CSRankings</label>
					<div class="layui-input-inline" style="width: 400px;">
				      <input type="text" name="csrankings" lay-verify="required" autocomplete="off" class="layui-input" id="csrankings" value="<%=data.csrankings%>">
				    </div>
				    <label class="layui-form-label">泰晤士</label>
				    <div class="layui-input-inline" style="width: 400px;">
				      <input type="text" name="taiws"  autocomplete="off" class="layui-input" id="taiws" value="<%=data.taiws%>">
				    </div>
				</div>
			</div>
            <div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">QS</label>
					<div class="layui-input-inline" style="width: 400px;">
				      <input type="text" name="qs" lay-verify="required" autocomplete="off" class="layui-input" id="qs" value="<%=data.qs%>">
				    </div>
				    <label class="layui-form-label">ESC</label>
				    <div class="layui-input-inline" style="width: 400px;">
				      <input type="text" name="esc"  autocomplete="off" class="layui-input" id="esc" value="<%=data.esc%>">
				    </div>
				</div>
			</div>
            <div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">专职教师</label>
					<div class="layui-input-inline" style="width: 400px;">
				      <input type="text" name="zhuanzjs" lay-verify="required" autocomplete="off" class="layui-input" id="zhuanzjs" value="<%=data.zhuanzjs%>">
				    </div>
				    <label class="layui-form-label">本科生</label>
				    <div class="layui-input-inline" style="width: 400px;">
				      <input type="text" name="benks"  autocomplete="off" class="layui-input" id="benks" value="<%=data.benks%>">
				    </div>
				</div>
			</div>
            <div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">研究生</label>
					<div class="layui-input-inline" style="width: 400px;">
				      <input type="text" name="yanjs" lay-verify="required" autocomplete="off" class="layui-input" id="yanjs" value="<%=data.yanjs%>">
				    </div>
				    <label class="layui-form-label">国家级项目</label>
				    <div class="layui-input-inline" style="width: 400px;">
				      <input type="text" name="guojjxm"  autocomplete="off" class="layui-input" id="guojjxm" value="<%=data.guojjxm%>">
				    </div>
				</div>
			</div>
            <div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">国家级平台</label>
					<div class="layui-input-inline" style="width: 400px;" >
				      <input type="text" name="guojjpt" lay-verify="required" autocomplete="off" class="layui-input" id="guojjpt" value="<%=data.guojjpt%>">
				    </div>
				    <label class="layui-form-label">国家级人才</label>
				    <div class="layui-input-inline" style="width: 400px;">
				      <input type="text" name="guojjrc"  autocomplete="off" class="layui-input" id="guojjrc" value="<%=data.guojjrc%>">
				    </div>
				</div>
			</div>
            <div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">学院总面积</label>
					<div class="layui-input-inline" style="width: 400px;">
				      <input type="text" name="xueymj" lay-verify="required" autocomplete="off" class="layui-input" id="xueymj" value="<%=data.xueymj%>">
				    </div>
				    <label class="layui-form-label">总设备价值</label>
				    <div class="layui-input-inline" style="width: 400px;">
				      <input type="text" name="shebjz"  autocomplete="off" class="layui-input" id="shebjz" value="<%=data.shebjz%>">
				    </div>
				</div>
			</div>

			<div class="layui-form-item">
				<hr class="layui-bg-gray" />
				<div class="layui-col-md-offset1">
					<a class="layui-btn layui-btn-sm" lay-filter="update" lay-submit><i class="layui-icon">&#xe609;</i>保存</a>
				</div>
			</div>
		</div>
	</form>

<script type="text/javascript" src="../manage/js/thirdpart.js"></script>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- <script type="text/javascript" src="newsAdd.js"></script> -->
<script type="text/javascript">
layui.use(['jquery','layer','form','laydate'], function(){ 
    let $ = layui.$, //重点处
    	laydate = layui.laydate
    let form = layui.form,layer = layui.layer
    //let frameindex = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
    //console.log('frameindex',frameindex)
    
    form.on('submit(update)', function(data){
	  //更新
	  data.field._id = '<%-data._id-%>'
	  data.field.ruanke = $('#ruanke').val()
	  data.field.usnews = $('#usnews').val()
      data.field.csrankings = $('#csrankings').val()
	  data.field.taiws = $('#taiws').val()
      data.field.qs = $('#qs').val()
	  data.field.esc = $('#esc').val()
      data.field.zhuanzjs = $('#zhuanzjs').val()
	  data.field.benks = $('#benks').val()
      data.field.yanjs = $('#yanjs').val()
	  data.field.guojjxm = $('#guojjxm').val()
      data.field.guojjpt = $('#guojjpt').val()
	  data.field.guojjrc = $('#guojjrc').val()
      data.field.xueymj = $('#xueymj').val()
	  data.field.shebjz = $('#shebjz').val()
	  console.log('update data field',data.field);
	  $.ajax({
	  	//本地与服务器
	  	url:'<%=base_url%>hightlight',
	  	type:'POST',
	  	data:data.field,
	  	dataType : "json",
	  	success:function(result){
	  		if(result.code == 0){
	  			console.log('update success')
	  			//墨绿深蓝风
				let frameindex = layer.alert('已保存', {
				  skin: 'layui-layer-molv' //样式类名
				  //,closeBtn: 0
				}, function(){
					layer.close(frameindex);
				});	  			
	  		}
	  	},
	  	error:function(msg){
	  		console.log('ajax error msg',msg)
	  	}
	  })
	});
    
})

</script>
</body>
</html>