<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">
  <title>深圳大学计算机与软件学院</title>
  <link rel="stylesheet" href="../../stylesheets/css/common.css">
  <link rel="stylesheet" href="../../stylesheets/css/globalCooperation_css/jointTraining.css">
</head>
<body class="globalCooperation">
<%if(L=='1'){%>
	<%include headcom.ejs%>
<%}%>
<%if(L!='1'){%>
	<%include ../../headcom.ejs%>
<%}%>

  <div class="banner">
    <img src="../../image/globalCooperation_image/banner.png" class="b_bg lazy_img pimg" />
    <img src="../../image/globalCooperation_image/m-banner.png" class="b_bg lazy_img mimg" />
  </div>
  <div class="contain">
    <div class="bread-crumbs">当前位置：首页 > 国际合作 > 联合培养</div>
    <div class="contain-area clearfix">
      <div class="l area-nav">
        <div class="tit b">国际合作</div>
        <ul>
          <li><a href="partner">合作伙伴</a></li>
          <li class="active"><a href="javascript:;">联合培养</a></li>
          <li><a href="coresearch">科研合作</a></li>
        </ul>
      </div>
      <div class="area-cont area1">
        <div class="area-tit b c_cca84d">
          联合培养
        </div>
        <div class="area-list">
          <%data.forEach(function(item,index){%>
          <div class="area-row">
            <div class="img-list">
              <div class="img-row">
                <img class="img lazy_img" src="<%=item.img1%>" />
                <img class="img-bg lazy_img" src="<%=item.img2%>" />
                <!-- 图片先只上传一张另一张固定 -->
              </div>
            </div>
            <div class="txt">
              <div class="c_cca84d b"><%=item.title%></div>
              <div class="type c_333399 b"><%=item.pyxm%></div>
              <div class="s-txt">
                <%-item.pageContent-%>
              </div>
            </div>
          </div>
          <%})%>
          

        </div>

        <div class="line"></div>
      </div>
    </div>
  </div>

  <%if(L=='1'){%>
    <%include ../../footercom.ejs%>
  <%}%>
  <%if(L!='1'){%>
    <%include ../../footercom.ejs%>
  <%}%>
  <script src="../../javascripts/js/jquery.min.js"></script>
  <script src="../../javascripts/js/jquery.lazyload.min.js"></script>
  <script src="../../javascripts/js/common.js"></script>

  <script src="../../javascripts/js/brcheck.js"></script>

</body>
</html>